구 테이블에 생활인구 값 넣기

In [58]:
import pandas as pd

df = pd.read_csv('../../data/population.csv', encoding='EUC-KR')

df

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20250321,0,11110,204215.4841,4272.8710,2601.9612,5948.9072,9156.1561,8582.5206,7112.3601,...,9466.3903,7106.0121,7983.3829,7621.9486,8345.0359,7856.8276,7820.3407,6768.7274,4741.9500,13716.3225
1,20250321,0,11140,171222.5512,3565.4608,1408.5986,2761.9403,5622.3154,6765.8259,7818.4513,...,8422.3787,7975.0618,8987.9207,7170.8670,7088.0782,6316.2044,6018.4796,5353.9189,3770.3305,10030.7428
2,20250321,0,11170,239020.8708,7464.7952,3700.7938,4807.4521,7129.2086,9096.4823,10207.4774,...,10675.1025,11532.5074,13382.5106,11008.0416,10268.1808,8829.8704,8292.9035,7108.2055,5416.0888,14185.5809
3,20250321,0,11200,328017.7464,11498.2780,4798.4310,7589.9191,11823.9861,13046.0782,12287.7911,...,14397.2170,14015.2771,17041.3553,14183.0208,13324.7807,11783.3034,11774.2653,9807.8047,7468.2397,19131.2955
4,20250321,0,11215,363466.5593,11006.0565,5959.5141,9826.3310,16093.9807,16802.5238,14188.3484,...,20520.6246,16134.2829,16288.6198,13934.7487,14701.6116,12561.4862,13330.8476,10778.2052,8455.9559,19612.5705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47995,20250101,23,11620,486167.7810,11074.0893,5320.5578,8784.2793,20136.3537,34746.2311,28588.8950,...,35451.3935,24631.2190,20602.9380,15534.1685,16634.7481,14212.4845,15310.9211,12873.6545,10537.1672,28457.1792
47996,20250101,23,11650,462649.8379,22297.4903,12024.0740,15484.3807,12772.9112,13877.0048,14177.8760,...,15169.0920,15507.8584,20997.8472,21608.4852,24230.7749,17816.8403,15136.0354,11845.9849,9806.3879,26852.6731
47997,20250101,23,11680,663193.3143,28124.4346,18603.9931,26228.4667,17009.4953,20058.1734,21641.9639,...,23372.1908,23396.4797,29973.7283,32005.9923,36781.6856,24645.0868,20473.8379,15662.5249,13279.5797,35945.8014
47998,20250101,23,11710,715249.2475,30346.6754,15220.2514,19360.1994,17499.3903,23167.0855,25570.8011,...,27182.6670,29432.9352,35807.6874,32451.7236,31984.7752,26333.2299,26766.9433,23339.1417,18048.5441,43995.3116
47999,20250101,23,11740,550751.8835,23288.2518,13326.3760,16086.1333,13066.1111,16260.7176,17933.5940,...,18889.2484,19422.3442,25502.3588,23569.1317,25202.6392,20410.5821,21164.2393,19201.8906,15379.4996,39372.8941

In [59]:
filtered_df = df[df['기준일ID'] == 20250321]

In [60]:
len(filtered_df)

600

In [61]:
filtered_df = filtered_df[['자치구코드', '총생활인구수', '남자0세부터9세생활인구수','남자10세부터14세생활인구수','남자15세부터19세생활인구수', '여자0세부터9세생활인구수','여자10세부터14세생활인구수','여자15세부터19세생활인구수']]
filtered_df = filtered_df.drop_duplicates(['자치구코드'])

In [62]:
len(filtered_df)

25

In [65]:
filtered_df['아동'] = filtered_df['남자0세부터9세생활인구수'] + filtered_df['남자10세부터14세생활인구수'] + filtered_df['남자15세부터19세생활인구수']+filtered_df['여자0세부터9세생활인구수'] + filtered_df['여자10세부터14세생활인구수'] + filtered_df['여자15세부터19세생활인구수']

In [66]:
filtered_df

,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,여자0세부터9세생활인구수,여자10세부터14세생활인구수,여자15세부터19세생활인구수,아동
0,11110,204215.4841,4272.8710,2601.9612,5948.9072,4218.6758,2553.6439,5807.3372,25403.3963
1,11140,171222.5512,3565.4608,1408.5986,2761.9403,3456.6573,1470.6713,3130.8162,15794.1445
2,11170,239020.8708,7464.7952,3700.7938,4807.4521,6441.3242,3105.1584,5159.1106,30678.6343
3,11200,328017.7464,11498.2780,4798.4310,7589.9191,11105.0085,4931.9825,8061.0432,47984.6623
4,11215,363466.5593,11006.0565,5959.5141,9826.3310,11217.1158,6251.5489,10429.5545,54690.1208
5,11230,351402.9757,10324.5794,5092.7651,9634.5827,10055.7488,4884.5704,10313.6147,50305.8611
6,11260,358629.5705,12550.0512,6047.2513,7243.7788,11342.5030,5394.6224,7089.3850,49667.5917
7,11290,446463.3055,16714.8283,9307.4858,15124.8455,15168.9443,8313.0892,16315.5976,80944.7907
8,11305,283187.7952,9028.7979,4921.5347,6003.6898,7693.4508,4231.0525,6797.0548,38675.5805
9,11320,275608.5405,9534.8529,5344.7742,6856.7665,8364.3067,4696.3618,6733.4760,41530.5381
10,11350,495858.6340,17644.3699,11679.0271,18172.4865,16656.6248,10762.4114,16722.7223,91637.6420
11,11380,462972.4589,16944.4674,9198.2645,11805.3423,16193.0605,8742.5062,11456.0787,74339.7196
12,11410,354383.0491,10380.1005,5147.6577,8955.4428,10736.2870,5548.5272,12166.8225,52934.8377
13,11440,404715.2948,12457.1022,6253.9671,9542.7725,12689.7478,6154.2135,11300.6243,58398.4274
14,11470,382655.0632,17359.8954,12248.7862,13003.0157,15820.7878,10964.4667,11905.2032,81302.1550
15,11500,543604.2266,22236.5243,10150.0226,12083.4647,21444.2880,9636.4870,12246.1894,87796.9760
16,11530,388992.1867,15279.0624,6744.3442,8568.1107,15442.9025,6681.8374,8737.4390,61453.6962
17,11545,203240.0231,6118.1054,2798.0226,3375.7585,5314.3530,2561.1615,3577.5845,23744.9855
18,11560,418301.6755,12850.6631,5753.9311,7797.7031,13225.6522,5560.2701,6938.9026,52127.1222
19,11590,395524.1104,13200.4166,6222.6738,10644.5887,12947.6395,5961.2275,10295.3220,59271.8681
20,11620,498135.0276,10939.9199,5283.9245,10682.4435,10436.1817,5065.4718,10594.3690,53002.3104
21,11650,477947.7893,22917.3465,12400.4081,14853.4890,20974.0662,11476.5424,14695.0836,97316.9358
22,11680,697614.1021,29053.8573,19315.0608,25018.2420,26493.5328,17228.2181,22379.6435,139488.5545
23,11710,717817.5048,30997.5790,15648.8004,18513.5724,29744.0536,15393.4976,18441.1001,128738.6031
24,11740,563041.0753,24411.2914,14307.3849,16077.4202,22033.8784,12519.7133,13612.8002,102962.4884

In [67]:
# 특정 열을 삭제할 때
filtered_df = filtered_df.drop(['남자0세부터9세생활인구수', '남자10세부터14세생활인구수', '남자15세부터19세생활인구수'], axis=1)

In [68]:
filtered_df

,자치구코드,총생활인구수,여자0세부터9세생활인구수,여자10세부터14세생활인구수,여자15세부터19세생활인구수,아동
0,11110,204215.4841,4218.6758,2553.6439,5807.3372,25403.3963
1,11140,171222.5512,3456.6573,1470.6713,3130.8162,15794.1445
2,11170,239020.8708,6441.3242,3105.1584,5159.1106,30678.6343
3,11200,328017.7464,11105.0085,4931.9825,8061.0432,47984.6623
4,11215,363466.5593,11217.1158,6251.5489,10429.5545,54690.1208
5,11230,351402.9757,10055.7488,4884.5704,10313.6147,50305.8611
6,11260,358629.5705,11342.5030,5394.6224,7089.3850,49667.5917
7,11290,446463.3055,15168.9443,8313.0892,16315.5976,80944.7907
8,11305,283187.7952,7693.4508,4231.0525,6797.0548,38675.5805
9,11320,275608.5405,8364.3067,4696.3618,6733.4760,41530.5381
10,11350,495858.6340,16656.6248,10762.4114,16722.7223,91637.6420
11,11380,462972.4589,16193.0605,8742.5062,11456.0787,74339.7196
12,11410,354383.0491,10736.2870,5548.5272,12166.8225,52934.8377
13,11440,404715.2948,12689.7478,6154.2135,11300.6243,58398.4274
14,11470,382655.0632,15820.7878,10964.4667,11905.2032,81302.1550
15,11500,543604.2266,21444.2880,9636.4870,12246.1894,87796.9760
16,11530,388992.1867,15442.9025,6681.8374,8737.4390,61453.6962
17,11545,203240.0231,5314.3530,2561.1615,3577.5845,23744.9855
18,11560,418301.6755,13225.6522,5560.2701,6938.9026,52127.1222
19,11590,395524.1104,12947.6395,5961.2275,10295.3220,59271.8681
20,11620,498135.0276,10436.1817,5065.4718,10594.3690,53002.3104
21,11650,477947.7893,20974.0662,11476.5424,14695.0836,97316.9358
22,11680,697614.1021,26493.5328,17228.2181,22379.6435,139488.5545
23,11710,717817.5048,29744.0536,15393.4976,18441.1001,128738.6031
24,11740,563041.0753,22033.8784,12519.7133,13612.8002,102962.4884

In [69]:
filtered_df = filtered_df.drop(['여자0세부터9세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수'], axis=1)

In [70]:
filtered_df

    자치구코드       총생활인구수           아동
0   11110  204215.4841   25403.3963
1   11140  171222.5512   15794.1445
2   11170  239020.8708   30678.6343
3   11200  328017.7464   47984.6623
4   11215  363466.5593   54690.1208
5   11230  351402.9757   50305.8611
6   11260  358629.5705   49667.5917
7   11290  446463.3055   80944.7907
8   11305  283187.7952   38675.5805
9   11320  275608.5405   41530.5381
10  11350  495858.6340   91637.6420
11  11380  462972.4589   74339.7196
12  11410  354383.0491   52934.8377
13  11440  404715.2948   58398.4274
14  11470  382655.0632   81302.1550
15  11500  543604.2266   87796.9760
16  11530  388992.1867   61453.6962
17  11545  203240.0231   23744.9855
18  11560  418301.6755   52127.1222
19  11590  395524.1104   59271.8681
20  11620  498135.0276   53002.3104
21  11650  477947.7893   97316.9358
22  11680  697614.1021  139488.5545
23  11710  717817.5048  128738.6031
24  11740  563041.0753  102962.4884

In [71]:
import mysql.connector

conn = mysql.connector.connect(
    host = "database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "team2",
    password = "1234",
    database = "eda_project"
)

In [72]:
cur = conn.cursor(buffered=True)

In [73]:
pop_list = [(int(row['자치구코드']), float(row['총생활인구수']), float(row['아동'])) for _, row in filtered_df.iterrows()]

In [74]:
len(pop_list)

25

In [75]:
def update_pop(gu_code,total_population, child_population):
    # 구 ID 가져오기
    cur.execute('SELECT gu_id FROM gu WHERE gu_code = %s', (gu_code,))
    gu_id = cur.fetchone()[0]


    cur.execute(
            'UPDATE gu SET total_population = %s, child_population = %s WHERE gu_id = %s', 
            (total_population, child_population, gu_id)
        )
    
    conn.commit()

In [76]:
for gu_code,total_population, child_population in pop_list:
    update_pop(gu_code,total_population, child_population)