자치구 별 유흥시설, 교통사고, 범죄 현황 데이터 불러오기

In [111]:
import mysql.connector
import pandas as pd

In [112]:
conn = mysql.connector.connect(
    host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'team2',
    password = "1234",
    database = 'eda_project' 
)

cur = conn.cursor(buffered=True)

In [82]:
cur.execute("""SELECT gu_id, unhealty_id, unhealty_type, unhealty_count FROM unhealthy_facility""")
unhealty_facility_info = cur.fetchall()

unhealty_id = []
gu_id = []
unhealty_type = []
unhealty_count = []

for info in enumerate(unhealty_facility_info):
    gu_id.append(info[1][0])
    unhealty_id.append(info[1][1])
    unhealty_type.append(info[1][2])
    unhealty_count.append(info[1][3])

unhealthy_facility = pd.DataFrame({'gu_id':gu_id,
                                   '유흥시설 id': unhealty_id,
                       '유흥업소 업명':unhealty_type,
                       '유흥업소 개수':unhealty_count})

In [122]:
unhealthy_facility["유흥업소 총 갯수"] = unhealthy_facility.groupby("gu_id")["유흥업소 개수"].transform("sum")
unhealthy_facility["rank"] = unhealthy_facility["유흥업소 총 갯수"].rank(ascending=False, method="dense").astype(int)

In [124]:
unhealthy_facility.head(50)

    gu_id  유흥시설 id 유흥업소 업명  유흥업소 개수  rank  유흥업소 총 갯수
0      23      201     룸살롱    139.0     4      169.0
1      25      202     룸살롱     83.0     7       99.0
2       9      203     룸살롱     44.0    10       68.0
3      16      204     룸살롱    106.0     5      129.0
4      21      205     룸살롱    158.0     2      194.0
5       5      206     룸살롱      8.0    20       10.0
6      17      207     룸살롱     20.0    15       32.0
7      18      208     룸살롱     40.0    12       44.0
8      11      209     룸살롱     17.0    17       21.0
9      10      210     룸살롱     12.0    18       20.0
10      6      211     룸살롱     38.0    11       52.0
11     20      212     룸살롱     34.0    13       42.0
12     14      213     룸살롱     23.0    13       42.0
13     13      214     룸살롱     10.0    16       28.0
14     22      215     룸살롱     28.0    14       38.0
15      4      216     룸살롱     13.0    18       20.0
16      8      217     룸살롱      5.0    21        8.0
17     24      218     룸살롱     67.0     8       88.0
18     15      219     룸살롱      4.0    22        4.0
19     19      220     룸살롱     97.0     6      124.0
20      3      221     룸살롱      5.0    17       21.0
21     12      222     룸살롱     50.0     9       76.0
22      1      223     룸살롱    137.0     3      179.0
23      2      224     룸살롱    119.0     1      200.0
24      7      225     룸살롱     12.0    19       17.0
25     23      226    간이주점      0.0     4      169.0
26     25      227    간이주점      2.0     7       99.0
27      9      228    간이주점      2.0    10       68.0
28     16      229    간이주점      4.0     5      129.0
29     21      230    간이주점      4.0     2      194.0
30      5      231    간이주점      0.0    20       10.0
31     17      232    간이주점      0.0    15       32.0
32     18      233    간이주점      0.0    12       44.0
33     11      234    간이주점      1.0    17       21.0
34     10      235    간이주점      0.0    18       20.0
35      6      236    간이주점      1.0    11       52.0
36     20      237    간이주점      1.0    13       42.0
37     14      238    간이주점      9.0    13       42.0
38     13      239    간이주점      1.0    16       28.0
39     22      240    간이주점      1.0    14       38.0
40      4      241    간이주점      0.0    18       20.0
41      8      242    간이주점      0.0    21        8.0
42     24      243    간이주점      2.0     8       88.0
43     15      244    간이주점      0.0    22        4.0
44     19      245    간이주점      7.0     6      124.0
45      3      246    간이주점      3.0    17       21.0
46     12      247    간이주점      0.0     9       76.0
47      1      248    간이주점      5.0     3      179.0
48      2      249    간이주점     17.0     1      200.0
49      7      250    간이주점      0.0    19       17.0

In [125]:
import mysql.connector

# MySQL 연결
conn = mysql.connector.connect(
    host='database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port=3306,
    user='team2',
    password="1234",
    database='eda_project'
)

cursor = conn.cursor(buffered=True)

# 구별로 데이터 업데이트
for _, row in unhealthy_facility.iterrows():
    cursor.execute("""
        UPDATE rank_for_gu 
        SET rank_unhealthy_facility = %s
        WHERE gu_id = %s
    """, (row["rank"], row["gu_id"]))  # gu_id 사용

# 변경 사항 저장 및 연결 종료
conn.commit()
conn.close()

In [ ]:
cur.execute("""SELECT gu_id, accident_id, accident_count FROM traffic_accident""")
traffic_accident_info = cur.fetchall()

accident_id = []
gu_id = []
accident_count = []


for info in enumerate(traffic_accident_info):
    gu_id.append(info[1][0])
    accident_id.append(info[1][1])
    accident_count.append(info[1][2])

traffic_accident = pd.DataFrame({'gu_id':gu_id,
                                   '교통사고 id': accident_id,
                                    '교통사고 횟수':accident_count,})

In [69]:
traffic_accident['rank'] = traffic_accident['교통사고 횟수'].rank(ascending=False)

In [70]:
traffic_accident

    gu_id  교통사고 id  교통사고 횟수  rank
0       1        1      988  17.0
1       2        2      931  20.0
2       3        3      996  16.0
3       4        4      919  21.0
4       5        5      717  24.0
5       6        6     1674   5.0
6       7        7     1268   9.0
7       8        8     1256  10.0
8       9        9      972  19.0
9      10       10      530  25.0
10     11       11     1366   7.0
11     12       12     1039  15.0
12     13       13      916  22.0
13     14       14     1250  11.0
14     15       15     1221  13.0
15     16       16     1518   6.0
16     17       17     1359   8.0
17     18       18      876  23.0
18     19       19     1900   4.0
19     20       20     1242  12.0
20     21       21      980  18.0
21     22       22     2168   3.0
22     23       23     3926   1.0
23     24       24     2614   2.0
24     25       25     1185  14.0

In [78]:
import mysql.connector

# MySQL 연결
conn = mysql.connector.connect(
    host='database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port=3306,
    user='team2',
    password="1234",
    database='eda_project'
)

cursor = conn.cursor(buffered=True)

# 구별로 데이터 업데이트
for _, row in traffic_accident.iterrows():
    cursor.execute("""
        UPDATE rank_for_gu 
        SET rank_traffic_accident = %s
        WHERE gu_id = %s
    """, (row["rank"], row["gu_id"]))  # gu_id 사용

# 변경 사항 저장 및 연결 종료
conn.commit()
conn.close()

In [113]:
cur.execute("""SELECT gu_id, crime_id, crime_type, crime_count FROM crime""")
crime_info = cur.fetchall()

crime_id = []
gu_id = []
crime_count = []
crime_type = []

for info in enumerate(crime_info):
    gu_id.append(info[1][0])
    crime_id.append(info[1][1])
    crime_type.append(info[1][2])
    crime_count.append(info[1][3])

crime = pd.DataFrame({'gu_id':gu_id,
                                   '범죄 id': crime_id,
                                    '범죄 유형':crime_type,
                                    '범죄 발생 횟수':crime_count,})
crime

     gu_id  범죄 id 범죄 유형  범죄 발생 횟수
0       23    276    강도      20.0
1       25    277    강도       5.0
2        9    278    강도       1.0
3       16    279    강도       6.0
4       21    280    강도      10.0
..     ...    ...   ...       ...
120      3    396    폭력    1732.0
121     12    397    폭력    1716.0
122      1    398    폭력    1563.0
123      2    399    폭력    1607.0
124      7    400    폭력    1745.0

[125 rows x 4 columns]

In [119]:
crime["범죄 발생 횟수 합계"] = crime.groupby("gu_id")["범죄 발생 횟수"].transform("sum")
crime["rank"] = crime["범죄 발생 횟수 합계"].rank(ascending=False, method="dense").astype(int)

In [120]:
crime.head(50)

    gu_id  범죄 id 범죄 유형  범죄 발생 횟수  범죄 발생 횟수 합계  rank
0      23    276    강도      20.0       6763.0     1
1      25    277    강도       5.0       3398.0    13
2       9    278    강도       1.0       2497.0    20
3      16    279    강도       6.0       4296.0     7
4      21    280    강도      10.0       4769.0     4
5       5    281    강도       5.0       3424.0    12
6      17    282    강도       7.0       3737.0     9
7      18    283    강도       5.0       2240.0    23
8      11    284    강도       3.0       3567.0    10
9      10    285    강도       4.0       1921.0    25
10      6    286    강도       4.0       2715.0    18
11     20    287    강도       3.0       2642.0    19
12     14    288    강도       4.0       3834.0     8
13     13    289    강도       0.0       2385.0    22
14     22    290    강도       9.0       4522.0     5
15      4    291    강도       2.0       2023.0    24
16      8    292    강도       1.0       2411.0    21
17     24    293    강도       9.0       5223.0     2
18     15    294    강도       2.0       5020.0     3
19     19    295    강도      10.0       4418.0     6
20      3    296    강도       3.0       2961.0    17
21     12    297    강도       3.0       3493.0    11
22      1    298    강도       5.0       2981.0    16
23      2    299    강도       6.0       3348.0    14
24      7    300    강도       2.0       3324.0    15
25     23    301    살인      14.0       6763.0     1
26     25    302    살인       4.0       3398.0    13
27      9    303    살인       7.0       2497.0    20
28     16    304    살인       1.0       4296.0     7
29     21    305    살인      16.0       4769.0     4
30      5    306    살인       2.0       3424.0    12
31     17    307    살인      12.0       3737.0     9
32     18    308    살인       4.0       2240.0    23
33     11    309    살인       7.0       3567.0    10
34     10    310    살인       7.0       1921.0    25
35      6    311    살인       5.0       2715.0    18
36     20    312    살인       3.0       2642.0    19
37     14    313    살인       3.0       3834.0     8
38     13    314    살인       5.0       2385.0    22
39     22    315    살인       7.0       4522.0     5
40      4    316    살인       2.0       2023.0    24
41      8    317    살인       1.0       2411.0    21
42     24    318    살인       8.0       5223.0     2
43     15    319    살인       6.0       5020.0     3
44     19    320    살인      12.0       4418.0     6
45      3    321    살인       3.0       2961.0    17
46     12    322    살인       7.0       3493.0    11
47      1    323    살인       5.0       2981.0    16
48      2    324    살인       3.0       3348.0    14
49      7    325    살인       6.0       3324.0    15

In [121]:
import mysql.connector

# MySQL 연결
conn = mysql.connector.connect(
    host='database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port=3306,
    user='team2',
    password="1234",
    database='eda_project'
)

cursor = conn.cursor(buffered=True)

# 구별로 데이터 업데이트
for _, row in crime.iterrows():
    cursor.execute("""
        UPDATE rank_for_gu 
        SET rank_crime = %s
        WHERE gu_id = %s
    """, (row["rank"], row["gu_id"]))  # gu_id 사용

# 변경 사항 저장 및 연결 종료
conn.commit()
conn.close()