# 서울시에서 아이 키우기 가장 좋은 자치구

In [3]:
import mysql.connector
import pandas as pd

In [4]:
conn = mysql.connector.connect(
    host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'team2',
    password = "1234",
    database = 'eda_project' 
)

cur = conn.cursor(buffered=True)

### 구 정보 불러오기

In [ ]:
cur.execute('SELECT gu_name, gu_id, total_population, child_population FROM gu')
gu_info = cur.fetchall()

gu_name = []
gu_id = []
total = []
child = []
student = []

for info in enumerate(gu_info):
    gu_name.append(info[1][0])
    gu_id.append(info[1][1])
    total.append(int(round((info[1][2]),0)))
    child.append(int(round((info[1][3]),0)))
    student.append(int(info[1][2])-int(info[1][3]))


gu = pd.DataFrame({'구 이름':gu_name,
                     '구 id':gu_id,
                     '총 인구':total,
                     '유아 인구':child,
                     '학생 인구':student})
gu.head()

In [ ]:
gu_sort = gu.set_index('구 id')
gu_sort

      구 이름    총 인구   유아 인구   학생 인구
구 id
1      종로구  204215   25403  178812
2       중구  171223   15794  155429
3      용산구  239021   30679  208343
4      성동구  328018   47985  280034
5      광진구  363467   54690  308777
6     동대문구  351403   50306  301098
7      중랑구  358630   49668  308963
8      성북구  446463   80945  365519
9      강북구  283188   38676  244513
10     도봉구  275609   41530  234079
11     노원구  495859   91638  404222
12     은평구  462972   74340  388633
13    서대문구  354383   52935  301449
14     마포구  404715   58398  346317
15     양천구  382655   81302  301353
16     강서구  543604   87797  455807
17     구로구  388992   61454  327539
18     금천구  203240   23745  179495
19    영등포구  418302   52127  366175
20     동작구  395524   59272  336253
21     관악구  498135   53002  445133
22     서초구  477948   97317  380632
23     강남구  697614  139489  558125
24     송파구  717818  128739  589079
25     강동구  563041  102962  460079

### 학교, 학원, 독서실, 도서관 정보 불러오기

#### 학교 정보

In [44]:
cur.execute('SELECT gu_id,school_type, school_count FROM school')
school_info = cur.fetchall()

gu_id = []
school_type = []
school_count = []

for info in enumerate(school_info):
    gu_id.append(info[1][0])
    school_type.append(info[1][1])
    school_count.append(int(info[1][2]))

school = pd.DataFrame({'구 id':gu_id,
                       '학교 유형':school_type,
                       '학교 수':school_count})
school_sort = pd.pivot_table(data=school,index='구 id', values='학교 수',aggfunc='sum')
school_sort

      학교 수
구 id
1      118
2      109
3      141
4      208
5      192
6      248
7      243
8      281
9      157
10     218
11     420
12     298
13     187
14     245
15     302
16     405
17     317
18     158
19     285
20     227
21     243
22     231
23     291
24     432
25     327

#### 학원 정보

In [47]:
cur.execute('SELECT gu_id,academy_type, academy_count FROM academy')
academy_info = cur.fetchall()

gu_id = []
academy_type = []
academy_count = []

for info in enumerate(academy_info):
    gu_id.append(info[1][0])
    academy_type.append(info[1][1])
    academy_count.append(int(info[1][2]))

academy = pd.DataFrame({'구 id':gu_id,
                       '학원 유형':academy_type,
                       '학원 수':academy_count})


academy_sort = pd.pivot_table(data=academy,index='구 id', values='학원 수', aggfunc='sum')
academy_sort

      학원 수
구 id
1       82
2       53
3       93
4      223
5      338
6      326
7      229
8      414
9      188
10     277
11     619
12     468
13     284
14     461
15     868
16     613
17     342
18     156
19     309
20     309
21     309
22     702
23    1567
24     888
25     619

#### 도서관 정보

In [51]:
cur.execute("SELECT gu_id, space_count FROM learning_space where space_type = '도서관'")
library_info = cur.fetchall()

gu_id = []
library_count = []

for info in enumerate(library_info):
    gu_id.append(info[1][0])
    library_count.append(int(info[1][1]))

library = pd.DataFrame({'구 id':gu_id,
                       '도서관 수':library_count})
library_sort = library.set_index('구 id')
library_sort.sort_index()

      도서관 수
구 id
1        41
2        38
3        20
4        10
5        13
6        18
7         8
8        25
9        11
10       10
11       21
12       13
13       17
14       15
15       12
16       20
17       19
18        6
19       23
20       18
21       10
22       46
23       31
24       20
25       11

#### 합치기

In [57]:
total = pd.concat([gu_sort, school_sort, academy_sort, library_sort], axis=1)
total.head()

     구 이름    총 인구  유아 인구   학생 인구  학교 수  학원 수  도서관 수
구 id
1     종로구  204215  25403  178812   118    82     41
2      중구  171223  15794  155429   109    53     38
3     용산구  239021  30679  208343   141    93     20
4     성동구  328018  47985  280034   208   223     10
5     광진구  363467  54690  308777   192   338     13

In [84]:
per_s = []
per_a = []
per_l = []

for gu in total.index:
    per_s.append(total.loc[gu]['학생 인구']/total.loc[gu]['학교 수'])

for gu in total.index:
    per_a.append(total.loc[gu]['학생 인구']/total.loc[gu]['학원 수'])

for gu in total.index:
    per_l.append(total.loc[gu]['학생 인구']/total.loc[gu]['도서관 수'])

total['학교당 학생 수'] = per_s
total['학원당 학생 수'] = per_a
total['도서관당 학생 수'] = per_l

total.head()

,구 이름,총 인구,유아 인구,학생 인구,학교 수,학원 수,도서관 수,학교당 학생 수,학원당 학생 수,도서관당 학생 수,학교순위,학원순위,도서관순위
구 id,,,,,,,,,,,,,
1,종로구,204215,25403,178812,118,82,41,1515.355932,2180.634146,4361.268293,19.0,23.0,2.0
2,중구,171223,15794,155429,109,53,38,1425.954128,2932.622642,4090.236842,16.0,25.0,1.0
3,용산구,239021,30679,208343,141,93,20,1477.609929,2240.247312,10417.150000,17.0,24.0,4.0
4,성동구,328018,47985,280034,208,223,10,1346.317308,1255.757848,28003.400000,12.0,19.0,19.0
5,광진구,363467,54690,308777,192,338,13,1608.213542,913.541420,23752.076923,21.0,12.0,17.0

In [85]:
total['학교순위'] = total['학교당 학생 수'].rank(ascending=False)
total['학원순위'] = total['학원당 학생 수'].rank(ascending=False)
total['도서관순위'] = total['도서관당 학생 수'].rank(ascending=False)

In [86]:
total

,구 이름,총 인구,유아 인구,학생 인구,학교 수,학원 수,도서관 수,학교당 학생 수,학원당 학생 수,도서관당 학생 수,학교순위,학원순위,도서관순위
구 id,,,,,,,,,,,,,
1,종로구,204215,25403,178812,118,82,41,1515.355932,2180.634146,4361.268293,7.0,3.0,24.0
2,중구,171223,15794,155429,109,53,38,1425.954128,2932.622642,4090.236842,10.0,1.0,25.0
3,용산구,239021,30679,208343,141,93,20,1477.609929,2240.247312,10417.150000,9.0,2.0,22.0
4,성동구,328018,47985,280034,208,223,10,1346.317308,1255.757848,28003.400000,14.0,7.0,7.0
5,광진구,363467,54690,308777,192,338,13,1608.213542,913.541420,23752.076923,5.0,14.0,9.0
6,동대문구,351403,50306,301098,248,326,18,1214.104839,923.613497,16727.666667,19.0,13.0,19.0
7,중랑구,358630,49668,308963,243,229,8,1271.452675,1349.183406,38620.375000,18.0,5.0,3.0
8,성북구,446463,80945,365519,281,414,25,1300.779359,882.896135,14620.760000,16.0,15.0,21.0
9,강북구,283188,38676,244513,157,188,11,1557.407643,1300.601064,22228.454545,6.0,6.0,13.0
10,도봉구,275609,41530,234079,218,277,10,1073.756881,845.050542,23407.900000,22.0,16.0,10.0
11,노원구,495859,91638,404222,420,619,21,962.433333,653.024233,19248.666667,25.0,22.0,14.0
12,은평구,462972,74340,388633,298,468,13,1304.137584,830.412393,29894.846154,15.0,17.0,5.0
13,서대문구,354383,52935,301449,187,284,17,1612.026738,1061.440141,17732.294118,4.0,11.0,17.0
14,마포구,404715,58398,346317,245,461,15,1413.538776,751.229935,23087.800000,11.0,18.0,11.0
15,양천구,382655,81302,301353,302,868,12,997.857616,347.180876,25112.750000,24.0,25.0,8.0
16,강서구,543604,87797,455807,405,613,20,1125.449383,743.567700,22790.350000,21.0,19.0,12.0
17,구로구,388992,61454,327539,317,342,19,1033.246057,957.716374,17238.894737,23.0,12.0,18.0
18,금천구,203240,23745,179495,158,156,6,1136.044304,1150.608974,29915.833333,20.0,9.0,4.0
19,영등포구,418302,52127,366175,285,309,23,1284.824561,1185.032362,15920.652174,17.0,8.0,20.0
20,동작구,395524,59272,336253,227,309,18,1481.290749,1088.197411,18680.722222,8.0,10.0,15.0
21,관악구,498135,53002,445133,243,309,10,1831.823045,1440.559871,44513.300000,2.0,4.0,1.0
22,서초구,477948,97317,380632,231,702,46,1647.757576,542.210826,8274.608696,3.0,23.0,23.0
23,강남구,697614,139489,558125,291,1567,31,1917.955326,356.174218,18004.032258,1.0,24.0,16.0
24,송파구,717818,128739,589079,432,888,20,1363.608796,663.377252,29453.950000,13.0,21.0,6.0
25,강동구,563041,102962,460079,327,619,11,1406.969419,743.261712,41825.363636,12.0,20.0,2.0

In [88]:
rank = total[['구 이름','학교순위','학원순위','도서관순위']]
rank

      구 이름  학교순위  학원순위  도서관순위
구 id
1      종로구   7.0   3.0   24.0
2       중구  10.0   1.0   25.0
3      용산구   9.0   2.0   22.0
4      성동구  14.0   7.0    7.0
5      광진구   5.0  14.0    9.0
6     동대문구  19.0  13.0   19.0
7      중랑구  18.0   5.0    3.0
8      성북구  16.0  15.0   21.0
9      강북구   6.0   6.0   13.0
10     도봉구  22.0  16.0   10.0
11     노원구  25.0  22.0   14.0
12     은평구  15.0  17.0    5.0
13    서대문구   4.0  11.0   17.0
14     마포구  11.0  18.0   11.0
15     양천구  24.0  25.0    8.0
16     강서구  21.0  19.0   12.0
17     구로구  23.0  12.0   18.0
18     금천구  20.0   9.0    4.0
19    영등포구  17.0   8.0   20.0
20     동작구   8.0  10.0   15.0
21     관악구   2.0   4.0    1.0
22     서초구   3.0  23.0   23.0
23     강남구   1.0  24.0   16.0
24     송파구  13.0  21.0    6.0
25     강동구  12.0  20.0    2.0

In [98]:
rank['평균순위'] = rank[['학교순위', '학원순위', '도서관순위']].mean(axis=1).round(2)
rank

/tmp/ipykernel_13275/4105751643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rank['평균순위'] = rank[['학교순위', '학원순위', '도서관순위']].mean(axis=1).round(2)

      구 이름  학교순위  학원순위  도서관순위   평균순위
구 id
1      종로구   7.0   3.0   24.0  11.33
2       중구  10.0   1.0   25.0  12.00
3      용산구   9.0   2.0   22.0  11.00
4      성동구  14.0   7.0    7.0   9.33
5      광진구   5.0  14.0    9.0   9.33
6     동대문구  19.0  13.0   19.0  17.00
7      중랑구  18.0   5.0    3.0   8.67
8      성북구  16.0  15.0   21.0  17.33
9      강북구   6.0   6.0   13.0   8.33
10     도봉구  22.0  16.0   10.0  16.00
11     노원구  25.0  22.0   14.0  20.33
12     은평구  15.0  17.0    5.0  12.33
13    서대문구   4.0  11.0   17.0  10.67
14     마포구  11.0  18.0   11.0  13.33
15     양천구  24.0  25.0    8.0  19.00
16     강서구  21.0  19.0   12.0  17.33
17     구로구  23.0  12.0   18.0  17.67
18     금천구  20.0   9.0    4.0  11.00
19    영등포구  17.0   8.0   20.0  15.00
20     동작구   8.0  10.0   15.0  11.00
21     관악구   2.0   4.0    1.0   2.33
22     서초구   3.0  23.0   23.0  16.33
23     강남구   1.0  24.0   16.0  13.67
24     송파구  13.0  21.0    6.0  13.33
25     강동구  12.0  20.0    2.0  11.33

### 병원 정보 불러오기

#### 소아과 정보

In [26]:
cur.execute("SELECT hospital_id,hospital_name, hospital_address FROM hospital where hospital_name like '%소아%'")
pediatrics_info = cur.fetchall()

pediatrics_id = []
pediatrics_name = []
pediatrics_address = []

for info in enumerate(pediatrics_info):
    pediatrics_id.append(info[1][0])
    pediatrics_name.append(info[1][1])
    pediatrics_address.append(info[1][2])

pediatrics = pd.DataFrame({'소아과 id':pediatrics_id,
                       '소아과 이름':pediatrics_name,
                       '소아과 수':pediatrics_address})
pediatrics.head()

   소아과 id         소아과 이름             소아과 수
0    8762       고만성소아과의원  서울특별시 강남구 개포로 61
1    8775   삼성키즈소아청소년과의원  서울특별시 강남구 선릉로 26
2    8781       송영명소아과의원  서울특별시 강남구 선릉로10길
3    8788  연세도우리소아청소년과의원  서울특별시 강남구 삼성로 14
4    8789   연세바다소아청소년과의원  서울특별시 강남구 언주로7길

#### 전체 병원 정보

In [32]:
cur.execute("SELECT * FROM hospital")
hospital_info = cur.fetchall()

hospital_id = []
hospital_type = []
hospital_address = []

for info in enumerate(hospital_info):
    hospital_id.append(info[1][0])
    hospital_type.append(info[1][1])
    hospital_address.append(info[1][3])

hospital = pd.DataFrame({'병원 id':hospital_id,
                       '병원 유형':hospital_type,
                       '병원 수':hospital_address})
hospital.head()

   병원 id 병원 유형              병원 수
0   8750  요양병원  서울특별시 강남구 논현로2길
1   8751    의원  서울특별시 강남구 개포로 61
2   8752    의원  서울특별시 강남구 개포로 22
3   8753    의원  서울특별시 강남구 개포로 50
4   8754    의원  서울특별시 강남구 개포로 62

In [33]:
len(hospital)

1381

In [ ]:
conn.commit()

In [ ]:
conn.close()

### 1인당 공원 면적 순위

In [ ]:
query = """
    SELECT g.gu_name, p.park_type, p.park_size, p.park_for_one
    FROM gu g, park p
    WHERE g.gu_id = p.gu_id
"""


df = pd.read_sql(query, conn)

conn.close()

df

/tmp/ipykernel_19420/3640935428.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [1]:
df= df[df['park_type'] == "공원"]

# 1인당 공원 면적 기준으로 순위를 매기기
df['rank'] = df['park_for_one'].rank(ascending=False, method='min')

df_desc = df.sort_values(by='rank')

df_desc[['gu_name', 'park_for_one', 'rank']]

NameError: name 'df' is not defined

### 동별로 면적 대비 월세가 비교

In [ ]:
query = """
    SELECT g.gu_name, d.dong_name, r.estate_type, r.estate_size, r.estate_rent, r.estate_deposit
    FROM gu g, real_estate r, dong d
    WHERE g.gu_id = r.gu_id AND d.dong_id = r.dong_id
"""


df = pd.read_sql(query, conn)

conn.close()

df

In [ ]:
df= df[df['estate_type'] == "월세"]

# 면적 대비 월세 계산 (면적 대비 월세 = 월세 / 면적)
df['면적대비_월세'] = df['estate_rent'] / df['estate_size']

# 면적 대비 월세 기준으로 오름차순으로 순위 매기기
df['rank'] = df['면적대비_월세'].rank(ascending=True, method='min')

# 동별로 순위 정렬
df_desc = df.sort_values(by='rank')

df_desc[['gu_name','dong_name', '면적대비_월세', 'rank']]