In [15]:
import mysql.connector
import pandas as pd

In [16]:
conn = mysql.connector.connect(
    host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'team2',
    password = "1234",
    database = 'eda_project' 
)

cur = conn.cursor(buffered=True)

In [17]:
query = """
    SELECT g.gu_name, d.dong_name, COUNT(h.hospital_name)
    FROM gu g, dong d, hospital h
    WHERE (g.gu_id = d.gu_id AND d.dong_id = h.dong_id)
    AND h.hospital_name LIKE '%소아%'
    GROUP BY d.dong_name
"""


df = pd.read_sql(query, conn)

df

/tmp/ipykernel_6729/738711711.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    gu_name dong_name  COUNT(h.hospital_name)
0       강남구       개포동                       9
1       강남구       논현동                       2
2       강남구       대치동                       6
3       강남구       도곡동                       2
4       강남구       삼성동                       2
..      ...       ...                     ...
166     중랑구       면목동                       4
167     중랑구        묵동                       1
168     중랑구       상봉동                       3
169     중랑구       신내동                       4
170     중랑구       중화동                       2

[171 rows x 3 columns]

In [18]:
df['rank'] = df['COUNT(h.hospital_name)'].rank(ascending=True, method='min')

# 순위를 기준으로 정렬
df_desc = df.sort_values(by='rank')

# 확인
print(df_desc[['gu_name', 'dong_name','COUNT(h.hospital_name)', 'rank']])

    gu_name dong_name  COUNT(h.hospital_name)   rank
11      강남구       자곡동                       1    1.0
9       강남구       율현동                       1    1.0
23      강북구       수유동                       1    1.0
16      강동구       둔촌동                       1    1.0
61      동작구      노량진동                       1    1.0
..      ...       ...                     ...    ...
0       강남구       개포동                       9  167.0
49      노원구       상계동                      10  168.0
128     양천구        목동                      10  168.0
130     양천구       신정동                      10  168.0
32      관악구       봉천동                      13  171.0

[171 rows x 4 columns]

In [19]:
hos_list = [(row['gu_name'], row['dong_name'],row['rank']) for _, row in df_desc.iterrows()]

In [20]:
hos_list

[('강남구', '자곡동', 1.0),
 ('강남구', '율현동', 1.0),
 ('강북구', '수유동', 1.0),
 ('강동구', '둔촌동', 1.0),
 ('동작구', '노량진동', 1.0),
 ('구로구', '오류동', 1.0),
 ('광진구', '군자동', 1.0),
 ('광진구', '광장동', 1.0),
 ('성북구', '석관동', 1.0),
 ('성북구', '삼선동4가', 1.0),
 ('송파구', '풍납동', 1.0),
 ('성북구', '종암동', 1.0),
 ('송파구', '석촌동', 1.0),
 ('송파구', '오금동', 1.0),
 ('성북구', '동소문동1가', 1.0),
 ('성북구', '돈암동', 1.0),
 ('성동구', '금호동3가', 1.0),
 ('성동구', '도선동', 1.0),
 ('성동구', '상왕십리동', 1.0),
 ('서대문구', '북아현동', 1.0),
 ('서초구', '신원동', 1.0),
 ('성동구', '금호동1가', 1.0),
 ('서대문구', '홍은동', 1.0),
 ('서초구', '양재동', 1.0),
 ('서대문구', '연희동', 1.0),
 ('마포구', '신공덕동', 1.0),
 ('마포구', '성산동', 1.0),
 ('마포구', '용강동', 1.0),
 ('마포구', '창전동', 1.0),
 ('마포구', '중동', 1.0),
 ('마포구', '신수동', 1.0),
 ('마포구', '대흥동', 1.0),
 ('성북구', '보문동5가', 1.0),
 ('성북구', '동소문동2가', 1.0),
 ('성동구', '성수동2가', 1.0),
 ('용산구', '원효로1가', 1.0),
 ('용산구', '후암동', 1.0),
 ('은평구', '녹번동', 1.0),
 ('은평구', '증산동', 1.0),
 ('은평구', '역촌동', 1.0),
 ('종로구', '누하동', 1.0),
 ('영등포구', '문래동6가', 1.0),
 ('용산구', '도원동', 1.0),
 ('종로구', '숭인동', 1.0),
 ('중랑구', '묵동', 1.0),
 ('종로구', '혜화동', 1.0),
 ('종로구', '홍파동', 1.0),
 ('중구', '만리동2가', 1.0),
 ('용산구', '산천동', 1.0),
 ('용산구', '용문동', 1.0),
 ('용산구', '용산동2가', 1.0),
 ('영등포구', '영등포동7가', 1.0),
 ('용산구', '보광동', 1.0),
 ('영등포구', '양평동5가', 1.0),
 ('영등포구', '당산동5가', 1.0),
 ('영등포구', '당산동4가', 1.0),
 ('강서구', '가양동', 57.0),
 ('강서구', '내발산동', 57.0),
 ('강남구', '수서동', 57.0),
 ('마포구', '공덕동', 57.0),
 ('성동구', '금호동2가', 57.0),
 ('동작구', '흑석동', 57.0),
 ('마포구', '도화동', 57.0),
 ('서초구', '잠원동', 57.0),
 ('서대문구', '북가좌동', 57.0),
 ('서초구', '내곡동', 57.0),
 ('마포구', '상암동', 57.0),
 ('마포구', '망원동', 57.0),
 ('마포구', '염리동', 57.0),
 ('성동구', '마장동', 57.0),
 ('영등포구', '영등포동', 57.0),
 ('은평구', '불광동', 57.0),
 ('용산구', '이촌동', 57.0),
 ('은평구', '갈현동', 57.0),
 ('영등포구', '당산동6가', 57.0),
 ('관악구', '남현동', 57.0),
 ('강동구', '길동', 57.0),
 ('강남구', '일원동', 57.0),
 ('강남구', '논현동', 57.0),
 ('강남구', '도곡동', 57.0),
 ('구로구', '개봉동', 57.0),
 ('도봉구', '도봉동', 57.0),
 ('노원구', '하계동', 57.0),
 ('구로구', '항동', 57.0),
 ('강남구', '삼성동', 57.0),
 ('동대문구', '전농동', 57.0),
 ('동대문구', '이문동', 57.0),
 ('도봉구', '쌍문동', 57.0),
 ('서초구', '우면동', 57.0),
 ('성북구', '길음동', 57.0),
 ('서대문구', '홍제동', 57.0),
 ('송파구', '송파동', 57.0),
 ('성북구', '장위동', 57.0),
 ('송파구', '마천동', 57.0),
 ('성북구', '하월곡동', 57.0),
 ('송파구', '삼전동', 57.0),
 ('은평구', '대조동', 57.0),
 ('영등포구', '여의도동', 57.0),
 ('영등포구', '대림동', 57.0),
 ('은평구', '수색동', 57.0),
 ('중랑구', '중화동', 57.0),
 ('영등포구', '문래동3가', 102.0),
 ('강동구', '명일동', 102.0),
 ('강동구', '상일동', 102.0),
 ('강남구', '세곡동', 102.0),
 ('강북구', '번동', 102.0),
 ('은평구', '신사동', 102.0),
 ('도봉구', '창동', 102.0),
 ('노원구', '월계동', 102.0),
 ('구로구', '천왕동', 102.0),
 ('동작구', '신대방동', 102.0),
 ('송파구', '거여동', 102.0),
 ('성동구', '옥수동', 102.0),
 ('구로구', '고척동', 102.0),
 ('동작구', '대방동', 102.0),
 ('중랑구', '상봉동', 102.0),
 ('중랑구', '망우동', 102.0),
 ('강동구', '강일동', 118.0),
 ('강남구', '청담동', 118.0),
 ('송파구', '신천동', 118.0),
 ('구로구', '신도림동', 118.0),
 ('구로구', '구로동', 118.0),
 ('강서구', '염창동', 118.0),
 ('광진구', '중곡동', 118.0),
 ('동작구', '사당동', 118.0),
 ('광진구', '구의동', 118.0),
 ('강서구', '방화동', 118.0),
 ('강동구', '암사동', 118.0),
 ('강서구', '등촌동', 118.0),
 ('강동구', '성내동', 118.0),
 ('중랑구', '면목동', 118.0),
 ('중구', '신당동', 118.0),
 ('중랑구', '신내동', 118.0),
 ('송파구', '문정동', 118.0),
 ('서초구', '방배동', 118.0),
 ('서대문구', '남가좌동', 118.0),
 ('성동구', '행당동', 118.0),
 ('성동구', '하왕십리동', 138.0),
 ('강북구', '미아동', 138.0),
 ('강동구', '고덕동', 138.0),
 ('마포구', '아현동', 138.0),
 ('은평구', '응암동', 138.0),
 ('양천구', '신월동', 138.0),
 ('송파구', '잠실동', 138.0),
 ('노원구', '공릉동', 138.0),
 ('금천구', '독산동', 138.0),
 ('도봉구', '방학동', 138.0),
 ('금천구', '시흥동', 138.0),
 ('강남구', '역삼동', 138.0),
 ('성북구', '정릉동', 138.0),
 ('송파구', '장지동', 138.0),
 ('서초구', '반포동', 152.0),
 ('동대문구', '답십리동', 152.0),
 ('노원구', '중계동', 152.0),
 ('관악구', '신림동', 152.0),
 ('송파구', '방이동', 152.0),
 ('동작구', '상도동', 152.0),
 ('동대문구', '장안동', 152.0),
 ('강남구', '대치동', 152.0),
 ('강서구', '마곡동', 152.0),
 ('은평구', '진관동', 152.0),
 ('영등포구', '신길동', 162.0),
 ('강서구', '화곡동', 162.0),
 ('서초구', '서초동', 162.0),
 ('광진구', '자양동', 162.0),
 ('송파구', '가락동', 166.0),
 ('강남구', '개포동', 167.0),
 ('노원구', '상계동', 168.0),
 ('양천구', '목동', 168.0),
 ('양천구', '신정동', 168.0),
 ('관악구', '봉천동', 171.0)]

In [21]:
def update_rank_dong_hos(gu, dong, rank):
    # 구 ID 가져오기
    cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
    gu_id = cur.fetchone()[0]

    # 동 ID 가져오기
    cur.execute('SELECT dong_id FROM dong WHERE dong_name = %s', (dong,))
    dong_id = cur.fetchone()[0]


    # gu_id에 해당하는 row가 존재하면 업데이트
    cur.execute(
        'UPDATE rank_for_dong SET rank_hospital = %s WHERE gu_id = %s AND dong_id = %s', 
        (rank, gu_id, dong_id))
    
    conn.commit()

In [22]:
for gu, dong, rank in hos_list:
    update_rank_dong_hos(gu, dong, rank)