In [1]:
import mysql.connector
import pandas as pd

In [2]:
conn = mysql.connector.connect(
    host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'team2',
    password = "1234",
    database = 'eda_project' 
)

cur = conn.cursor(buffered=True)

In [5]:
query = """
    SELECT g.gu_name, d.dong_name, COUNT(h.hospital_name)
    FROM gu g, dong d, hospital h
    WHERE (g.gu_id = d.gu_id AND d.dong_id = h.dong_id)
    AND h.hospital_name LIKE '%소아%'
    GROUP BY d.dong_name
"""


df = pd.read_sql(query, conn)

df

/tmp/ipykernel_8407/738711711.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    gu_name dong_name  COUNT(h.hospital_name)
0       강남구       개포동                       9
1       강남구       논현동                       2
2       강남구       대치동                       6
3       강남구       도곡동                       2
4       강남구       삼성동                       2
..      ...       ...                     ...
166     중랑구       면목동                       4
167     중랑구        묵동                       1
168     중랑구       상봉동                       3
169     중랑구       신내동                       4
170     중랑구       중화동                       2

[171 rows x 3 columns]

In [8]:
df['rank'] = df['COUNT(h.hospital_name)'].rank(ascending=False, method='min')

# 순위를 기준으로 정렬
df_desc = df.sort_values(by='rank')

# 확인
print(df_desc[['gu_name', 'dong_name','COUNT(h.hospital_name)', 'rank']])

    gu_name dong_name  COUNT(h.hospital_name)   rank
32      관악구       봉천동                      13    1.0
49      노원구       상계동                      10    2.0
130     양천구       신정동                      10    2.0
128     양천구        목동                      10    2.0
0       강남구       개포동                       9    5.0
..      ...       ...                     ...    ...
163      중구     만리동2가                       1  116.0
160     종로구       숭인동                       1  116.0
167     중랑구        묵동                       1  116.0
161     종로구       혜화동                       1  116.0
162     종로구       홍파동                       1  116.0

[171 rows x 4 columns]

In [21]:
hos_list = [(row['gu_name'], row['dong_name'],row['rank']) for _, row in df_desc.iterrows()]

In [22]:
hos_list

[('관악구', '봉천동', 1.0),
 ('노원구', '상계동', 2.0),
 ('양천구', '신정동', 2.0),
 ('양천구', '목동', 2.0),
 ('강남구', '개포동', 5.0),
 ('송파구', '가락동', 6.0),
 ('광진구', '자양동', 7.0),
 ('강서구', '화곡동', 7.0),
 ('서초구', '서초동', 7.0),
 ('영등포구', '신길동', 7.0),
 ('동대문구', '장안동', 11.0),
 ('송파구', '방이동', 11.0),
 ('동작구', '상도동', 11.0),
 ('노원구', '중계동', 11.0),
 ('동대문구', '답십리동', 11.0),
 ('관악구', '신림동', 11.0),
 ('은평구', '진관동', 11.0),
 ('서초구', '반포동', 11.0),
 ('강서구', '마곡동', 11.0),
 ('강남구', '대치동', 11.0),
 ('노원구', '공릉동', 21.0),
 ('도봉구', '방학동', 21.0),
 ('성동구', '하왕십리동', 21.0),
 ('금천구', '독산동', 21.0),
 ('마포구', '아현동', 21.0),
 ('성북구', '정릉동', 21.0),
 ('강남구', '역삼동', 21.0),
 ('금천구', '시흥동', 21.0),
 ('강동구', '고덕동', 21.0),
 ('강북구', '미아동', 21.0),
 ('송파구', '장지동', 21.0),
 ('송파구', '잠실동', 21.0),
 ('양천구', '신월동', 21.0),
 ('은평구', '응암동', 21.0),
 ('강서구', '염창동', 35.0),
 ('송파구', '문정동', 35.0),
 ('송파구', '신천동', 35.0),
 ('성동구', '행당동', 35.0),
 ('구로구', '구로동', 35.0),
 ('강동구', '강일동', 35.0),
 ('강동구', '성내동', 35.0),
 ('강동구', '암사동', 35.0),
 ('서초구', '방배동', 35.0),
 ('서대문구', '남가좌동', 35.0),
 ('강남구', '청담동', 35.0),
 ('광진구', '중곡동', 35.0),
 ('광진구', '구의동', 35.0),
 ('구로구', '신도림동', 35.0),
 ('중랑구', '면목동', 35.0),
 ('중구', '신당동', 35.0),
 ('강서구', '방화동', 35.0),
 ('강서구', '등촌동', 35.0),
 ('동작구', '사당동', 35.0),
 ('중랑구', '신내동', 35.0),
 ('강북구', '번동', 55.0),
 ('강동구', '상일동', 55.0),
 ('동작구', '신대방동', 55.0),
 ('도봉구', '창동', 55.0),
 ('구로구', '천왕동', 55.0),
 ('노원구', '월계동', 55.0),
 ('구로구', '고척동', 55.0),
 ('동작구', '대방동', 55.0),
 ('성동구', '옥수동', 55.0),
 ('송파구', '거여동', 55.0),
 ('은평구', '신사동', 55.0),
 ('강남구', '세곡동', 55.0),
 ('중랑구', '망우동', 55.0),
 ('강동구', '명일동', 55.0),
 ('중랑구', '상봉동', 55.0),
 ('영등포구', '문래동3가', 55.0),
 ('송파구', '마천동', 71.0),
 ('송파구', '송파동', 71.0),
 ('성북구', '하월곡동', 71.0),
 ('송파구', '삼전동', 71.0),
 ('구로구', '개봉동', 71.0),
 ('강서구', '내발산동', 71.0),
 ('도봉구', '도봉동', 71.0),
 ('동대문구', '전농동', 71.0),
 ('동대문구', '이문동', 71.0),
 ('도봉구', '쌍문동', 71.0),
 ('강서구', '가양동', 71.0),
 ('관악구', '남현동', 71.0),
 ('성동구', '금호동2가', 71.0),
 ('성북구', '장위동', 71.0),
 ('성북구', '길음동', 71.0),
 ('서초구', '우면동', 71.0),
 ('서대문구', '북가좌동', 71.0),
 ('동작구', '흑석동', 71.0),
 ('구로구', '항동', 71.0),
 ('노원구', '하계동', 71.0),
 ('서초구', '잠원동', 71.0),
 ('서초구', '내곡동', 71.0),
 ('마포구', '도화동', 71.0),
 ('강동구', '길동', 71.0),
 ('강남구', '논현동', 71.0),
 ('강남구', '도곡동', 71.0),
 ('영등포구', '대림동', 71.0),
 ('은평구', '대조동', 71.0),
 ('은평구', '수색동', 71.0),
 ('영등포구', '영등포동', 71.0),
 ('성동구', '마장동', 71.0),
 ('마포구', '망원동', 71.0),
 ('마포구', '상암동', 71.0),
 ('마포구', '공덕동', 71.0),
 ('마포구', '염리동', 71.0),
 ('서대문구', '홍제동', 71.0),
 ('영등포구', '당산동6가', 71.0),
 ('영등포구', '여의도동', 71.0),
 ('은평구', '불광동', 71.0),
 ('중랑구', '중화동', 71.0),
 ('은평구', '갈현동', 71.0),
 ('용산구', '이촌동', 71.0),
 ('강남구', '일원동', 71.0),
 ('강남구', '삼성동', 71.0),
 ('강남구', '수서동', 71.0),
 ('광진구', '광장동', 116.0),
 ('동작구', '노량진동', 116.0),
 ('서대문구', '연희동', 116.0),
 ('서초구', '신원동', 116.0),
 ('서대문구', '홍은동', 116.0),
 ('마포구', '신수동', 116.0),
 ('마포구', '대흥동', 116.0),
 ('광진구', '군자동', 116.0),
 ('구로구', '오류동', 116.0),
 ('강남구', '율현동', 116.0),
 ('강남구', '자곡동', 116.0),
 ('강북구', '수유동', 116.0),
 ('강동구', '둔촌동', 116.0),
 ('송파구', '풍납동', 116.0),
 ('송파구', '오금동', 116.0),
 ('송파구', '석촌동', 116.0),
 ('성북구', '종암동', 116.0),
 ('성북구', '동소문동2가', 116.0),
 ('성북구', '보문동5가', 116.0),
 ('성동구', '상왕십리동', 116.0),
 ('성동구', '도선동', 116.0),
 ('성동구', '성수동2가', 116.0),
 ('성동구', '금호동3가', 116.0),
 ('성북구', '동소문동1가', 116.0),
 ('성북구', '돈암동', 116.0),
 ('성북구', '삼선동4가', 116.0),
 ('성북구', '석관동', 116.0),
 ('서초구', '양재동', 116.0),
 ('성동구', '금호동1가', 116.0),
 ('마포구', '창전동', 116.0),
 ('마포구', '중동', 116.0),
 ('서대문구', '북아현동', 116.0),
 ('마포구', '용강동', 116.0),
 ('마포구', '성산동', 116.0),
 ('마포구', '신공덕동', 116.0),
 ('용산구', '보광동', 116.0),
 ('용산구', '도원동', 116.0),
 ('은평구', '녹번동', 116.0),
 ('용산구', '후암동', 116.0),
 ('영등포구', '영등포동7가', 116.0),
 ('영등포구', '양평동5가', 116.0),
 ('영등포구', '문래동6가', 116.0),
 ('영등포구', '당산동5가', 116.0),
 ('영등포구', '당산동4가', 116.0),
 ('용산구', '산천동', 116.0),
 ('종로구', '누하동', 116.0),
 ('은평구', '증산동', 116.0),
 ('은평구', '역촌동', 116.0),
 ('용산구', '용문동', 116.0),
 ('용산구', '원효로1가', 116.0),
 ('용산구', '용산동2가', 116.0),
 ('중구', '만리동2가', 116.0),
 ('종로구', '숭인동', 116.0),
 ('중랑구', '묵동', 116.0),
 ('종로구', '혜화동', 116.0),
 ('종로구', '홍파동', 116.0)]

In [25]:
def update_rank_dong_hos(gu, dong, rank):
    # 구 ID 가져오기
    cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
    gu_id = cur.fetchone()[0]

    # 동 ID 가져오기
    cur.execute('SELECT dong_id FROM dong WHERE dong_name = %s', (dong,))
    dong_id = cur.fetchone()[0]


    # gu_id에 해당하는 row가 존재하면 업데이트
    cur.execute(
        'UPDATE rank_for_dong SET rank_hospital = %s WHERE gu_id = %s AND dong_id = %s', 
        (rank, gu_id, dong_id))
    
    conn.commit()

In [26]:
for gu, dong, rank in hos_list:
    update_rank_dong_hos(gu, dong, rank)