# 서울시에서 아이 키우기 가장 좋은 자치구

In [11]:
import mysql.connector
import pandas as pd

In [16]:
conn = mysql.connector.connect(
    host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'team2',
    password = "1234",
    database = 'eda_project' 
)

cur = conn.cursor(buffered=True)

### 구 정보 불러오기

In [ ]:
cur.execute('SELECT gu_name, gu_id, total_population, child_population FROM gu')
gu_info = cur.fetchall()

gu_name = []
gu_id = []
total = []
child = []
student = []

for info in enumerate(gu_info):
    gu_name.append(info[1][0])
    gu_id.append(info[1][1])
    total.append(int(round((info[1][2]),0)))
    child.append(int(round((info[1][3]),0)))
    student.append(int(info[1][2])-int(info[1][3]))


gu = pd.DataFrame({'구 이름':gu_name,
                     '구 id':gu_id,
                     '총 인구':total,
                     '유아 인구':child,
                     '학생 인구':student})
gu.head()

In [ ]:
gu_sort = gu.set_index('구 id')
gu_sort

      구 이름    총 인구   유아 인구   학생 인구
구 id
1      종로구  204215   25403  178812
2       중구  171223   15794  155429
3      용산구  239021   30679  208343
4      성동구  328018   47985  280034
5      광진구  363467   54690  308777
6     동대문구  351403   50306  301098
7      중랑구  358630   49668  308963
8      성북구  446463   80945  365519
9      강북구  283188   38676  244513
10     도봉구  275609   41530  234079
11     노원구  495859   91638  404222
12     은평구  462972   74340  388633
13    서대문구  354383   52935  301449
14     마포구  404715   58398  346317
15     양천구  382655   81302  301353
16     강서구  543604   87797  455807
17     구로구  388992   61454  327539
18     금천구  203240   23745  179495
19    영등포구  418302   52127  366175
20     동작구  395524   59272  336253
21     관악구  498135   53002  445133
22     서초구  477948   97317  380632
23     강남구  697614  139489  558125
24     송파구  717818  128739  589079
25     강동구  563041  102962  460079

### 학교, 학원, 독서실, 도서관 정보 불러오기

#### 학교 정보

In [44]:
cur.execute('SELECT gu_id,school_type, school_count FROM school')
school_info = cur.fetchall()

gu_id = []
school_type = []
school_count = []

for info in enumerate(school_info):
    gu_id.append(info[1][0])
    school_type.append(info[1][1])
    school_count.append(int(info[1][2]))

school = pd.DataFrame({'구 id':gu_id,
                       '학교 유형':school_type,
                       '학교 수':school_count})
school_sort = pd.pivot_table(data=school,index='구 id', values='학교 수',aggfunc='sum')
school_sort

      학교 수
구 id
1      118
2      109
3      141
4      208
5      192
6      248
7      243
8      281
9      157
10     218
11     420
12     298
13     187
14     245
15     302
16     405
17     317
18     158
19     285
20     227
21     243
22     231
23     291
24     432
25     327

#### 학원 정보

In [47]:
cur.execute('SELECT gu_id,academy_type, academy_count FROM academy')
academy_info = cur.fetchall()

gu_id = []
academy_type = []
academy_count = []

for info in enumerate(academy_info):
    gu_id.append(info[1][0])
    academy_type.append(info[1][1])
    academy_count.append(int(info[1][2]))

academy = pd.DataFrame({'구 id':gu_id,
                       '학원 유형':academy_type,
                       '학원 수':academy_count})


academy_sort = pd.pivot_table(data=academy,index='구 id', values='학원 수', aggfunc='sum')
academy_sort

      학원 수
구 id
1       82
2       53
3       93
4      223
5      338
6      326
7      229
8      414
9      188
10     277
11     619
12     468
13     284
14     461
15     868
16     613
17     342
18     156
19     309
20     309
21     309
22     702
23    1567
24     888
25     619

#### 도서관 정보

In [51]:
cur.execute("SELECT gu_id, space_count FROM learning_space where space_type = '도서관'")
library_info = cur.fetchall()

gu_id = []
library_count = []

for info in enumerate(library_info):
    gu_id.append(info[1][0])
    library_count.append(int(info[1][1]))

library = pd.DataFrame({'구 id':gu_id,
                       '도서관 수':library_count})
library_sort = library.set_index('구 id')
library_sort.sort_index()

      도서관 수
구 id
1        41
2        38
3        20
4        10
5        13
6        18
7         8
8        25
9        11
10       10
11       21
12       13
13       17
14       15
15       12
16       20
17       19
18        6
19       23
20       18
21       10
22       46
23       31
24       20
25       11

#### 합치기

In [57]:
total = pd.concat([gu_sort, school_sort, academy_sort, library_sort], axis=1)
total.head()

     구 이름    총 인구  유아 인구   학생 인구  학교 수  학원 수  도서관 수
구 id
1     종로구  204215  25403  178812   118    82     41
2      중구  171223  15794  155429   109    53     38
3     용산구  239021  30679  208343   141    93     20
4     성동구  328018  47985  280034   208   223     10
5     광진구  363467  54690  308777   192   338     13

In [84]:
per_s = []
per_a = []
per_l = []

for gu in total.index:
    per_s.append(total.loc[gu]['학생 인구']/total.loc[gu]['학교 수'])

for gu in total.index:
    per_a.append(total.loc[gu]['학생 인구']/total.loc[gu]['학원 수'])

for gu in total.index:
    per_l.append(total.loc[gu]['학생 인구']/total.loc[gu]['도서관 수'])

total['학교당 학생 수'] = per_s
total['학원당 학생 수'] = per_a
total['도서관당 학생 수'] = per_l

total.head()

,구 이름,총 인구,유아 인구,학생 인구,학교 수,학원 수,도서관 수,학교당 학생 수,학원당 학생 수,도서관당 학생 수,학교순위,학원순위,도서관순위
구 id,,,,,,,,,,,,,
1,종로구,204215,25403,178812,118,82,41,1515.355932,2180.634146,4361.268293,19.0,23.0,2.0
2,중구,171223,15794,155429,109,53,38,1425.954128,2932.622642,4090.236842,16.0,25.0,1.0
3,용산구,239021,30679,208343,141,93,20,1477.609929,2240.247312,10417.150000,17.0,24.0,4.0
4,성동구,328018,47985,280034,208,223,10,1346.317308,1255.757848,28003.400000,12.0,19.0,19.0
5,광진구,363467,54690,308777,192,338,13,1608.213542,913.541420,23752.076923,21.0,12.0,17.0

In [85]:
total['학교순위'] = total['학교당 학생 수'].rank(ascending=False)
total['학원순위'] = total['학원당 학생 수'].rank(ascending=False)
total['도서관순위'] = total['도서관당 학생 수'].rank(ascending=False)

In [86]:
total

,구 이름,총 인구,유아 인구,학생 인구,학교 수,학원 수,도서관 수,학교당 학생 수,학원당 학생 수,도서관당 학생 수,학교순위,학원순위,도서관순위
구 id,,,,,,,,,,,,,
1,종로구,204215,25403,178812,118,82,41,1515.355932,2180.634146,4361.268293,7.0,3.0,24.0
2,중구,171223,15794,155429,109,53,38,1425.954128,2932.622642,4090.236842,10.0,1.0,25.0
3,용산구,239021,30679,208343,141,93,20,1477.609929,2240.247312,10417.150000,9.0,2.0,22.0
4,성동구,328018,47985,280034,208,223,10,1346.317308,1255.757848,28003.400000,14.0,7.0,7.0
5,광진구,363467,54690,308777,192,338,13,1608.213542,913.541420,23752.076923,5.0,14.0,9.0
6,동대문구,351403,50306,301098,248,326,18,1214.104839,923.613497,16727.666667,19.0,13.0,19.0
7,중랑구,358630,49668,308963,243,229,8,1271.452675,1349.183406,38620.375000,18.0,5.0,3.0
8,성북구,446463,80945,365519,281,414,25,1300.779359,882.896135,14620.760000,16.0,15.0,21.0
9,강북구,283188,38676,244513,157,188,11,1557.407643,1300.601064,22228.454545,6.0,6.0,13.0
10,도봉구,275609,41530,234079,218,277,10,1073.756881,845.050542,23407.900000,22.0,16.0,10.0
11,노원구,495859,91638,404222,420,619,21,962.433333,653.024233,19248.666667,25.0,22.0,14.0
12,은평구,462972,74340,388633,298,468,13,1304.137584,830.412393,29894.846154,15.0,17.0,5.0
13,서대문구,354383,52935,301449,187,284,17,1612.026738,1061.440141,17732.294118,4.0,11.0,17.0
14,마포구,404715,58398,346317,245,461,15,1413.538776,751.229935,23087.800000,11.0,18.0,11.0
15,양천구,382655,81302,301353,302,868,12,997.857616,347.180876,25112.750000,24.0,25.0,8.0
16,강서구,543604,87797,455807,405,613,20,1125.449383,743.567700,22790.350000,21.0,19.0,12.0
17,구로구,388992,61454,327539,317,342,19,1033.246057,957.716374,17238.894737,23.0,12.0,18.0
18,금천구,203240,23745,179495,158,156,6,1136.044304,1150.608974,29915.833333,20.0,9.0,4.0
19,영등포구,418302,52127,366175,285,309,23,1284.824561,1185.032362,15920.652174,17.0,8.0,20.0
20,동작구,395524,59272,336253,227,309,18,1481.290749,1088.197411,18680.722222,8.0,10.0,15.0
21,관악구,498135,53002,445133,243,309,10,1831.823045,1440.559871,44513.300000,2.0,4.0,1.0
22,서초구,477948,97317,380632,231,702,46,1647.757576,542.210826,8274.608696,3.0,23.0,23.0
23,강남구,697614,139489,558125,291,1567,31,1917.955326,356.174218,18004.032258,1.0,24.0,16.0
24,송파구,717818,128739,589079,432,888,20,1363.608796,663.377252,29453.950000,13.0,21.0,6.0
25,강동구,563041,102962,460079,327,619,11,1406.969419,743.261712,41825.363636,12.0,20.0,2.0

In [88]:
rank = total[['구 이름','학교순위','학원순위','도서관순위']]
rank

      구 이름  학교순위  학원순위  도서관순위
구 id
1      종로구   7.0   3.0   24.0
2       중구  10.0   1.0   25.0
3      용산구   9.0   2.0   22.0
4      성동구  14.0   7.0    7.0
5      광진구   5.0  14.0    9.0
6     동대문구  19.0  13.0   19.0
7      중랑구  18.0   5.0    3.0
8      성북구  16.0  15.0   21.0
9      강북구   6.0   6.0   13.0
10     도봉구  22.0  16.0   10.0
11     노원구  25.0  22.0   14.0
12     은평구  15.0  17.0    5.0
13    서대문구   4.0  11.0   17.0
14     마포구  11.0  18.0   11.0
15     양천구  24.0  25.0    8.0
16     강서구  21.0  19.0   12.0
17     구로구  23.0  12.0   18.0
18     금천구  20.0   9.0    4.0
19    영등포구  17.0   8.0   20.0
20     동작구   8.0  10.0   15.0
21     관악구   2.0   4.0    1.0
22     서초구   3.0  23.0   23.0
23     강남구   1.0  24.0   16.0
24     송파구  13.0  21.0    6.0
25     강동구  12.0  20.0    2.0

In [98]:
rank['평균순위'] = rank[['학교순위', '학원순위', '도서관순위']].mean(axis=1).round(2)
rank

/tmp/ipykernel_13275/4105751643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rank['평균순위'] = rank[['학교순위', '학원순위', '도서관순위']].mean(axis=1).round(2)

      구 이름  학교순위  학원순위  도서관순위   평균순위
구 id
1      종로구   7.0   3.0   24.0  11.33
2       중구  10.0   1.0   25.0  12.00
3      용산구   9.0   2.0   22.0  11.00
4      성동구  14.0   7.0    7.0   9.33
5      광진구   5.0  14.0    9.0   9.33
6     동대문구  19.0  13.0   19.0  17.00
7      중랑구  18.0   5.0    3.0   8.67
8      성북구  16.0  15.0   21.0  17.33
9      강북구   6.0   6.0   13.0   8.33
10     도봉구  22.0  16.0   10.0  16.00
11     노원구  25.0  22.0   14.0  20.33
12     은평구  15.0  17.0    5.0  12.33
13    서대문구   4.0  11.0   17.0  10.67
14     마포구  11.0  18.0   11.0  13.33
15     양천구  24.0  25.0    8.0  19.00
16     강서구  21.0  19.0   12.0  17.33
17     구로구  23.0  12.0   18.0  17.67
18     금천구  20.0   9.0    4.0  11.00
19    영등포구  17.0   8.0   20.0  15.00
20     동작구   8.0  10.0   15.0  11.00
21     관악구   2.0   4.0    1.0   2.33
22     서초구   3.0  23.0   23.0  16.33
23     강남구   1.0  24.0   16.0  13.67
24     송파구  13.0  21.0    6.0  13.33
25     강동구  12.0  20.0    2.0  11.33

### 병원 정보 불러오기

#### 소아과 정보

In [26]:
cur.execute("SELECT hospital_id,hospital_name, hospital_address FROM hospital where hospital_name like '%소아%'")
pediatrics_info = cur.fetchall()

pediatrics_id = []
pediatrics_name = []
pediatrics_address = []

for info in enumerate(pediatrics_info):
    pediatrics_id.append(info[1][0])
    pediatrics_name.append(info[1][1])
    pediatrics_address.append(info[1][2])

pediatrics = pd.DataFrame({'소아과 id':pediatrics_id,
                       '소아과 이름':pediatrics_name,
                       '소아과 수':pediatrics_address})
pediatrics.head()

   소아과 id         소아과 이름             소아과 수
0    8762       고만성소아과의원  서울특별시 강남구 개포로 61
1    8775   삼성키즈소아청소년과의원  서울특별시 강남구 선릉로 26
2    8781       송영명소아과의원  서울특별시 강남구 선릉로10길
3    8788  연세도우리소아청소년과의원  서울특별시 강남구 삼성로 14
4    8789   연세바다소아청소년과의원  서울특별시 강남구 언주로7길

#### 전체 병원 정보

In [32]:
cur.execute("SELECT * FROM hospital")
hospital_info = cur.fetchall()

hospital_id = []
hospital_type = []
hospital_address = []

for info in enumerate(hospital_info):
    hospital_id.append(info[1][0])
    hospital_type.append(info[1][1])
    hospital_address.append(info[1][3])

hospital = pd.DataFrame({'병원 id':hospital_id,
                       '병원 유형':hospital_type,
                       '병원 수':hospital_address})
hospital.head()

   병원 id 병원 유형              병원 수
0   8750  요양병원  서울특별시 강남구 논현로2길
1   8751    의원  서울특별시 강남구 개포로 61
2   8752    의원  서울특별시 강남구 개포로 22
3   8753    의원  서울특별시 강남구 개포로 50
4   8754    의원  서울특별시 강남구 개포로 62

In [33]:
len(hospital)

1381

In [ ]:
conn.commit()

In [ ]:
conn.close()

### 1인당 공원 면적 순위

In [23]:
query = """
    SELECT g.gu_name, p.park_type, p.park_size, p.park_for_one
    FROM gu g, park p
    WHERE g.gu_id = p.gu_id
"""


df = pd.read_sql(query, conn)

df

/tmp/ipykernel_3140/1202815108.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   gu_name park_type  park_size  park_for_one
0      강남구        공원    7794.55         14.16
1      강남구   도보생활권공원    3702.44          6.73
2      강동구        공원    3408.12          7.36
3      강동구   도보생활권공원    2127.21          4.59
4      강북구        공원   14570.45         49.73
5      강북구   도보생활권공원    2129.13          7.27
6      강서구        공원    4519.82          7.95
7      강서구   도보생활권공원    3532.42          6.21
8      관악구        공원   12484.82         25.08
9      관악구   도보생활권공원    1968.85          3.95
10     광진구        공원    3459.84          9.85
11     광진구   도보생활권공원    1351.39          3.85
12     구로구        공원    3712.72          8.93
13     구로구   도보생활권공원    1667.75          4.01
14     금천구        공원    2774.39         11.51
15     금천구   도보생활권공원     563.75          2.34
16     노원구        공원   14741.50         29.31
17     노원구   도보생활권공원    1898.39          3.77
18     도봉구        공원   10151.52         32.80
19     도봉구   도보생활권공원    1122.20          3.63
20    동대문구        공원    1215.39          3.38
21    동대문구   도보생활권공원    1053.66          2.93
22     동작구        공원    4365.78         11.20
23     동작구   도보생활권공원    2311.33          5.93
24     마포구        공원    4569.31         12.18
25     마포구   도보생활권공원    4345.51         11.58
26    서대문구        공원    5107.20         15.93
27    서대문구   도보생활권공원    1132.17          3.53
28     서초구        공원   15075.97         36.59
29     서초구   도보생활권공원    2219.23          5.39
30     성동구        공원    3085.71         10.84
31     성동구   도보생활권공원    2908.02         10.21
32     성북구        공원    8527.94         19.46
33     성북구   도보생활권공원    1681.56          3.84
34     송파구        공원    4776.80          7.24
35     송파구   도보생활권공원    4396.58          6.66
36     양천구        공원    3049.86          6.94
37     양천구   도보생활권공원    2211.53          5.03
38    영등포구        공원    3003.01          7.55
39    영등포구   도보생활권공원    2957.23          7.43
40     용산구        공원    1773.80          7.81
41     용산구   도보생활권공원    1611.79          7.10
42     은평구        공원   14398.24         30.58
43     은평구   도보생활권공원    2209.56          4.69
44     종로구        공원   11434.59         76.00
45     종로구   도보생활권공원    3021.20         20.08
46      중구        공원    3204.71         24.32
47      중구   도보생활권공원    1390.70         10.55
48     중랑구        공원    5199.93         13.42
49     중랑구   도보생활권공원    1883.95          4.86

In [24]:
df= df[df['park_type'] == "공원"]

# 1인당 공원 면적 기준으로 순위를 매기기
df['rank'] = df['park_for_one'].rank(ascending=False, method='min')

df_desc = df.sort_values(by='rank')

df_desc[['gu_name', 'park_for_one', 'rank']]

/tmp/ipykernel_3140/1980845052.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rank'] = df['park_for_one'].rank(ascending=False, method='min')

   gu_name  park_for_one  rank
44     종로구         76.00   1.0
4      강북구         49.73   2.0
28     서초구         36.59   3.0
18     도봉구         32.80   4.0
42     은평구         30.58   5.0
16     노원구         29.31   6.0
8      관악구         25.08   7.0
46      중구         24.32   8.0
32     성북구         19.46   9.0
26    서대문구         15.93  10.0
0      강남구         14.16  11.0
48     중랑구         13.42  12.0
24     마포구         12.18  13.0
14     금천구         11.51  14.0
22     동작구         11.20  15.0
30     성동구         10.84  16.0
10     광진구          9.85  17.0
12     구로구          8.93  18.0
6      강서구          7.95  19.0
40     용산구          7.81  20.0
38    영등포구          7.55  21.0
2      강동구          7.36  22.0
34     송파구          7.24  23.0
36     양천구          6.94  24.0
20    동대문구          3.38  25.0

In [25]:
park_rank_list = [(row['gu_name'], row['rank']) for _, row in df_desc.iterrows()]

In [26]:
park_rank_list

[('종로구', 1.0),
 ('강북구', 2.0),
 ('서초구', 3.0),
 ('도봉구', 4.0),
 ('은평구', 5.0),
 ('노원구', 6.0),
 ('관악구', 7.0),
 ('중구', 8.0),
 ('성북구', 9.0),
 ('서대문구', 10.0),
 ('강남구', 11.0),
 ('중랑구', 12.0),
 ('마포구', 13.0),
 ('금천구', 14.0),
 ('동작구', 15.0),
 ('성동구', 16.0),
 ('광진구', 17.0),
 ('구로구', 18.0),
 ('강서구', 19.0),
 ('용산구', 20.0),
 ('영등포구', 21.0),
 ('강동구', 22.0),
 ('송파구', 23.0),
 ('양천구', 24.0),
 ('동대문구', 25.0)]

In [32]:
def insert_rank_park(gu, rank):
    # 구 ID 가져오기
    cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
    gu_id = cur.fetchone()[0]


    cur.execute(
        'UPDATE rank_for_gu SET rank_park = %s WHERE gu_id = %s', 
        (rank, gu_id))
    
    conn.commit()

In [33]:
for gu, rank in park_rank_list:
    insert_rank_park(gu, rank)

### 동별로 면적 대비 월세가 비교

In [34]:
query = """
    SELECT g.gu_name, d.dong_name, r.estate_type, r.estate_size, r.estate_rent, r.estate_deposit
    FROM gu g, real_estate r, dong d
    WHERE g.gu_id = r.gu_id AND d.dong_id = r.dong_id
"""


df = pd.read_sql(query, conn)


df

/tmp/ipykernel_3140/3067331709.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    gu_name dong_name estate_type  estate_size  estate_rent  estate_deposit
0       강남구       개포동          월세      63.4021     156.8270        35493.80
1       강남구       개포동          전세      65.4866       0.0000        73743.30
2       강남구       논현동          월세      43.3511     112.4050        10508.60
3       강남구       논현동          전세      54.7163       0.0000        46741.10
4       강남구       대치동          월세      61.4932     132.8380        32391.80
..      ...       ...         ...          ...          ...             ...
759     중랑구       상봉동          전세      46.9074       0.0000        26960.70
760     중랑구       신내동          월세      47.2308      44.2891         6466.25
761     중랑구       신내동          전세      67.5466       0.0000        31843.10
762     중랑구       중화동          월세      46.3803      50.1542         5656.78
763     중랑구       중화동          전세      50.3335       0.0000        23254.20

[764 rows x 6 columns]

In [35]:
df= df[df['estate_type'] == "월세"]

# 면적 대비 월세 계산 (면적 대비 월세 = 월세 / 면적)
df['면적대비_월세'] = df['estate_rent'] / df['estate_size']

# 면적 대비 월세 기준으로 오름차순으로 순위 매기기
df['rank'] = df['면적대비_월세'].rank(ascending=True, method='min')

# 동별로 순위 정렬
df_desc = df.sort_values(by='rank')

df_desc[['gu_name','dong_name', '면적대비_월세', 'rank']]

/tmp/ipykernel_3140/2171584045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['면적대비_월세'] = df['estate_rent'] / df['estate_size']
/tmp/ipykernel_3140/2171584045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rank'] = df['면적대비_월세'].rank(ascending=True, method='min')

    gu_name dong_name   면적대비_월세   rank
516     용산구     용산동3가  0.365789    1.0
110     구로구       천왕동  0.551027    2.0
685      중구     남산동1가  0.572316    3.0
749      중구     회현동3가  0.601413    4.0
399     송파구       마천동  0.694995    5.0
..      ...       ...       ...    ...
547     용산구       한남동  4.319329  386.0
635     종로구       운니동  4.331683  387.0
727      중구        정동  4.382566  388.0
582     종로구       관수동  4.710595  389.0
517     용산구     용산동5가  4.805246  390.0

[390 rows x 4 columns]

In [36]:
rent_rank_list = [(row['gu_name'], row['dong_name'], row['rank']) for _, row in df_desc.iterrows()]

In [37]:
rent_rank_list

[('용산구', '용산동3가', 1.0),
 ('구로구', '천왕동', 2.0),
 ('중구', '남산동1가', 3.0),
 ('중구', '회현동3가', 4.0),
 ('송파구', '마천동', 5.0),
 ('구로구', '궁동', 6.0),
 ('종로구', '안국동', 7.0),
 ('구로구', '항동', 8.0),
 ('종로구', '구기동', 9.0),
 ('강북구', '우이동', 10.0),
 ('강동구', '강일동', 11.0),
 ('종로구', '창성동', 12.0),
 ('영등포구', '문래동1가', 13.0),
 ('중랑구', '신내동', 14.0),
 ('구로구', '온수동', 15.0),
 ('용산구', '청암동', 16.0),
 ('종로구', '행촌동', 17.0),
 ('강서구', '외발산동', 18.0),
 ('종로구', '평창동', 19.0),
 ('구로구', '개봉동', 20.0),
 ('구로구', '고척동', 21.0),
 ('중구', '필동2가', 22.0),
 ('용산구', '주성동', 23.0),
 ('도봉구', '쌍문동', 24.0),
 ('종로구', '누상동', 25.0),
 ('종로구', '관철동', 26.0),
 ('종로구', '부암동', 27.0),
 ('중랑구', '중화동', 28.0),
 ('종로구', '신교동', 29.0),
 ('금천구', '시흥동', 30.0),
 ('중랑구', '망우동', 31.0),
 ('송파구', '오금동', 32.0),
 ('강서구', '내발산동', 33.0),
 ('용산구', '갈월동', 34.0),
 ('중구', '남대문로5가', 35.0),
 ('은평구', '구산동', 36.0),
 ('도봉구', '도봉동', 37.0),
 ('도봉구', '방학동', 38.0),
 ('양천구', '신정동', 39.0),
 ('강서구', '개화동', 40.0),
 ('중랑구', '묵동', 41.0),
 ('은평구', '갈현동', 42.0),
 ('강남구', '율현동', 43.0),
 ('성북구', '동소문동1가', 44.0),
 ('동대문구', '회기동', 45.0),
 ('서대문구', '홍제동', 46.0),
 ('종로구', '신영동', 47.0),
 ('구로구', '오류동', 48.0),
 ('강북구', '미아동', 49.0),
 ('용산구', '청파동1가', 50.0),
 ('종로구', '원서동', 51.0),
 ('성북구', '동소문동2가', 52.0),
 ('노원구', '상계동', 53.0),
 ('송파구', '풍납동', 54.0),
 ('성북구', '장위동', 55.0),
 ('송파구', '삼전동', 56.0),
 ('종로구', '계동', 57.0),
 ('종로구', '창신동', 58.0),
 ('강동구', '암사동', 59.0),
 ('서대문구', '북가좌동', 60.0),
 ('구로구', '가리봉동', 61.0),
 ('중구', '필동3가', 62.0),
 ('양천구', '신월동', 63.0),
 ('마포구', '구수동', 64.0),
 ('종로구', '삼청동', 65.0),
 ('용산구', '신창동', 66.0),
 ('마포구', '중동', 67.0),
 ('은평구', '불광동', 68.0),
 ('성북구', '안암동2가', 69.0),
 ('은평구', '역촌동', 70.0),
 ('성북구', '돈암동', 71.0),
 ('영등포구', '양평동6가', 72.0),
 ('용산구', '효창동', 73.0),
 ('도봉구', '창동', 74.0),
 ('종로구', '누하동', 75.0),
 ('영등포구', '신길동', 76.0),
 ('은평구', '신사동', 77.0),
 ('서초구', '우면동', 78.0),
 ('서대문구', '영천동', 79.0),
 ('은평구', '녹번동', 80.0),
 ('용산구', '보광동', 81.0),
 ('강동구', '성내동', 82.0),
 ('중랑구', '면목동', 83.0),
 ('은평구', '진관동', 84.0),
 ('노원구', '중계동', 85.0),
 ('영등포구', '문래동6가', 86.0),
 ('강동구', '명일동', 87.0),
 ('송파구', '송파동', 88.0),
 ('성북구', '보문동2가', 89.0),
 ('송파구', '거여동', 90.0),
 ('성동구', '홍익동', 91.0),
 ('영등포구', '문래동4가', 92.0),
 ('광진구', '중곡동', 93.0),
 ('서대문구', '홍은동', 94.0),
 ('영등포구', '문래동2가', 95.0),
 ('서대문구', '현저동', 96.0),
 ('성북구', '상월곡동', 97.0),
 ('강서구', '화곡동', 98.0),
 ('양천구', '목동', 99.0),
 ('광진구', '광장동', 100.0),
 ('서대문구', '냉천동', 101.0),
 ('강서구', '방화동', 102.0),
 ('송파구', '장지동', 103.0),
 ('종로구', '홍지동', 104.0),
 ('서대문구', '합동', 105.0),
 ('은평구', '응암동', 106.0),
 ('강서구', '가양동', 107.0),
 ('영등포구', '도림동', 108.0),
 ('성북구', '석관동', 109.0),
 ('용산구', '서빙고동', 110.0),
 ('성북구', '삼선동1가', 111.0),
 ('영등포구', '양평동1가', 112.0),
 ('금천구', '독산동', 113.0),
 ('노원구', '월계동', 114.0),
 ('영등포구', '대림동', 115.0),
 ('성북구', '정릉동', 116.0),
 ('강동구', '천호동', 117.0),
 ('구로구', '구로동', 118.0),
 ('영등포구', '양평동4가', 119.0),
 ('강동구', '상일동', 120.0),
 ('송파구', '석촌동', 121.0),
 ('종로구', '수송동', 122.0),
 ('영등포구', '당산동4가', 123.0),
 ('관악구', '남현동', 124.0),
 ('성동구', '금호동3가', 125.0),
 ('강북구', '수유동', 126.0),
 ('영등포구', '문래동5가', 127.0),
 ('마포구', '마포동', 128.0),
 ('성북구', '보문동6가', 129.0),
 ('은평구', '대조동', 130.0),
 ('동작구', '신대방동', 131.0),
 ('동대문구', '청량리동', 132.0),
 ('영등포구', '양평동5가', 133.0),
 ('동작구', '사당동', 134.0),
 ('종로구', '사직동', 135.0),
 ('중랑구', '상봉동', 136.0),
 ('강북구', '번동', 137.0),
 ('은평구', '증산동', 138.0),
 ('강서구', '등촌동', 139.0),
 ('동작구', '상도동', 140.0),
 ('중구', '충무로4가', 141.0),
 ('은평구', '수색동', 142.0),
 ('구로구', '신도림동', 143.0),
 ('노원구', '하계동', 144.0),
 ('성북구', '삼선동5가', 145.0),
 ('강남구', '세곡동', 146.0),
 ('성북구', '삼선동2가', 147.0),
 ('강서구', '공항동', 148.0),
 ('종로구', '효자동', 149.0),
 ('중구', '장충동2가', 150.0),
 ('용산구', '용문동', 151.0),
 ('성북구', '보문동3가', 152.0),
 ('성북구', '동소문동7가', 153.0),
 ('영등포구', '당산동6가', 154.0),
 ('강동구', '고덕동', 155.0),
 ('용산구', '후암동', 156.0),
 ('용산구', '도원동', 157.0),
 ('서대문구', '천연동', 158.0),
 ('강서구', '염창동', 159.0),
 ('서대문구', '북아현동', 160.0),
 ('강동구', '길동', 161.0),
 ('동작구', '본동', 162.0),
 ('영등포구', '당산동1가', 163.0),
 ('영등포구', '양평동3가', 164.0),
 ('마포구', '도화동', 165.0),
 ('중구', '쌍림동', 166.0),
 ('광진구', '구의동', 167.0),
 ('서초구', '양재동', 168.0),
 ('용산구', '용산동2가', 169.0),
 ('성북구', '보문동1가', 170.0),
 ('동작구', '동작동', 171.0),
 ('용산구', '산천동', 172.0),
 ('종로구', '당주동', 173.0),
 ('성북구', '안암동3가', 174.0),
 ('영등포구', '영등포동', 175.0),
 ('관악구', '신림동', 176.0),
 ('서대문구', '남가좌동', 177.0),
 ('성북구', '성북동1가', 178.0),
 ('서초구', '내곡동', 179.0),
 ('중구', '장충동1가', 180.0),
 ('광진구', '자양동', 181.0),
 ('성북구', '길음동', 182.0),
 ('동작구', '대방동', 183.0),
 ('영등포구', '영등포동6가', 184.0),
 ('성동구', '송정동', 185.0),
 ('성북구', '종암동', 186.0),
 ('서대문구', '충정로3가', 187.0),
 ('영등포구', '문래동3가', 188.0),
 ('영등포구', '양평동2가', 189.0),
 ('광진구', '능동', 190.0),
 ('강남구', '일원동', 191.0),
 ('동대문구', '장안동', 192.0),
 ('성북구', '동선동5가', 193.0),
 ('성북구', '삼선동3가', 194.0),
 ('마포구', '망원동', 195.0),
 ('서대문구', '미근동', 196.0),
 ('관악구', '봉천동', 197.0),
 ('동작구', '흑석동', 198.0),
 ('마포구', '당인동', 199.0),
 ('용산구', '서계동', 200.0),
 ('노원구', '공릉동', 201.0),
 ('성북구', '동선동3가', 202.0),
 ('마포구', '창전동', 203.0),
 ('용산구', '동빙고동', 204.0),
 ('서초구', '신원동', 205.0),
 ('중구', '신당동', 206.0),
 ('종로구', '동숭동', 207.0),
 ('영등포구', '당산동', 208.0),
 ('강남구', '자곡동', 209.0),
 ('마포구', '상암동', 210.0),
 ('성북구', '하월곡동', 211.0),
 ('마포구', '연남동', 212.0),
 ('서초구', '방배동', 213.0),
 ('송파구', '문정동', 214.0),
 ('성동구', '응봉동', 215.0),
 ('종로구', '무악동', 216.0),
 ('종로구', '익선동', 217.0),
 ('마포구', '현석동', 218.0),
 ('성동구', '하왕십리동', 219.0),
 ('성북구', '동소문동4가', 220.0),
 ('마포구', '공덕동', 221.0),
 ('종로구', '옥인동', 222.0),
 ('영등포구', '당산동2가', 223.0),
 ('성동구', '행당동', 224.0),
 ('성북구', '안암동1가', 225.0),
 ('성동구', '마장동', 226.0),
 ('동대문구', '제기동', 227.0),
 ('동대문구', '이문동', 228.0),
 ('마포구', '용강동', 229.0),
 ('용산구', '청파동2가', 230.0),
 ('동작구', '노량진동', 231.0),
 ('강동구', '둔촌동', 232.0),
 ('종로구', '숭인동', 233.0),
 ('종로구', '연건동', 234.0),
 ('종로구', '필운동', 235.0),
 ('강남구', '압구정동', 236.0),
 ('송파구', '방이동', 237.0),
 ('강서구', '마곡동', 238.0),
 ('마포구', '신정동', 239.0),
 ('성북구', '보문동4가', 240.0),
 ('영등포구', '당산동3가', 241.0),
 ('서초구', '원지동', 242.0),
 ('동대문구', '답십리동', 243.0),
 ('금천구', '가산동', 244.0),
 ('용산구', '이태원동', 245.0),
 ('동대문구', '전농동', 246.0),
 ('중구', '중림동', 247.0),
 ('광진구', '군자동', 248.0),
 ('성북구', '성북동', 249.0),
 ('성북구', '동선동2가', 250.0),
 ('성동구', '성수동2가', 251.0),
 ('송파구', '가락동', 252.0),
 ('서대문구', '충정로2가', 253.0),
 ('영등포구', '영등포동7가', 254.0),
 ('성동구', '용답동', 255.0),
 ('마포구', '하중동', 256.0),
 ('강남구', '수서동', 257.0),
 ('용산구', '원효로4가', 258.0),
 ('중구', '만리동1가', 259.0),
 ('마포구', '합정동', 260.0),
 ('영등포구', '영등포동8가', 261.0),
 ('서대문구', '연희동', 262.0),
 ('용산구', '청파동3가', 263.0),
 ('마포구', '대흥동', 264.0),
 ('영등포구', '당산동5가', 265.0),
 ('영등포구', '영등포동2가', 266.0),
 ('종로구', '혜화동', 267.0),
 ('마포구', '신수동', 268.0),
 ('동대문구', '휘경동', 269.0),
 ('마포구', '성산동', 270.0),
 ('용산구', '문배동', 271.0),
 ('영등포구', '영등포동3가', 272.0),
 ('용산구', '이촌동', 273.0),
 ('종로구', '연지동', 274.0),
 ('중구', '만리동2가', 275.0),
 ('종로구', '명륜3가', 276.0),
 ('영등포구', '영등포동4가', 277.0),
 ('성북구', '동선동4가', 278.0),
 ('송파구', '신천동', 279.0),
 ('마포구', '토정동', 280.0),
 ('성동구', '사근동', 281.0),
 ('성북구', '보문동7가', 282.0),
 ('마포구', '아현동', 283.0),
 ('종로구', '경운동', 284.0),
 ('강남구', '대치동', 285.0),
 ('마포구', '서교동', 286.0),
 ('동대문구', '용두동', 287.0),
 ('마포구', '염리동', 288.0),
 ('성동구', '금호동1가', 289.0),
 ('종로구', '인의동', 290.0),
 ('서초구', '잠원동', 291.0),
 ('송파구', '잠실동', 292.0),
 ('종로구', '명륜1가', 293.0),
 ('마포구', '신공덕동', 294.0),
 ('마포구', '상수동', 295.0),
 ('영등포구', '영등포동1가', 296.0),
 ('종로구', '충신동', 297.0),
 ('성동구', '옥수동', 298.0),
 ('성북구', '삼선동4가', 299.0),
 ('중구', '황학동', 300.0),
 ('동작구', '상도1동', 301.0),
 ('서대문구', '신촌동', 302.0),
 ('종로구', '통인동', 303.0),
 ('성동구', '상왕십리동', 304.0),
 ('강남구', '신사동', 305.0),
 ('영등포구', '여의도동', 306.0),
 ('종로구', '내수동', 307.0),
 ('서대문구', '대신동', 308.0),
 ('중구', '충무로3가', 309.0),
 ('서대문구', '창천동', 310.0),
 ('중구', '예장동', 311.0),
 ('종로구', '명륜2가', 312.0),
 ('성북구', '보문동5가', 313.0),
 ('용산구', '원효로3가', 314.0),
 ('중구', '회현동1가', 315.0),
 ('영등포구', '영등포동5가', 316.0),
 ('강남구', '도곡동', 317.0),
 ('성동구', '금호동2가', 318.0),
 ('서초구', '서초동', 319.0),
 ('서대문구', '옥천동', 320.0),
 ('종로구', '명륜4가', 321.0),
 ('서대문구', '봉원동', 322.0),
 ('강남구', '개포동', 323.0),
 ('중구', '광희동2가', 324.0),
 ('마포구', '동교동', 325.0),
 ('용산구', '원효로1가', 326.0),
 ('용산구', '동자동', 327.0),
 ('성북구', '동소문동6가', 328.0),
 ('중구', '오장동', 329.0),
 ('종로구', '평동', 330.0),
 ('중구', '의주로1가', 331.0),
 ('강남구', '논현동', 332.0),
 ('성동구', '도선동', 333.0),
 ('광진구', '화양동', 334.0),
 ('성북구', '안암동4가', 335.0),
 ('마포구', '노고산동', 336.0),
 ('종로구', '내자동', 337.0),
 ('성북구', '동선동1가', 338.0),
 ('성북구', '안암동5가', 339.0),
 ('중구', '남산동2가', 340.0),
 ('종로구', '홍파동', 341.0),
 ('용산구', '신계동', 342.0),
 ('종로구', '청운동', 343.0),
 ('중구', '을지로2가', 344.0),
 ('성동구', '금호동4가', 345.0),
 ('종로구', '이화동', 346.0),
 ('종로구', '교북동', 347.0),
 ('서초구', '반포동', 348.0),
 ('강남구', '청담동', 349.0),
 ('강남구', '역삼동', 350.0),
 ('용산구', '한강로1가', 351.0),
 ('용산구', '한강로2가', 352.0),
 ('강남구', '삼성동', 353.0),
 ('용산구', '원효로2가', 354.0),
 ('동대문구', '신설동', 355.0),
 ('중구', '충무로5가', 356.0),
 ('종로구', '종로1가', 357.0),
 ('중구', '흥인동', 358.0),
 ('중구', '저동2가', 359.0),
 ('종로구', '낙원동', 360.0),
 ('중구', '필동1가', 361.0),
 ('종로구', '견지동', 362.0),
 ('중구', '인현동2가', 363.0),
 ('종로구', '체부동', 364.0),
 ('용산구', '한강로3가', 365.0),
 ('중구', '을지로4가', 366.0),
 ('서초구', '염곡동', 367.0),
 ('중구', '무학동', 368.0),
 ('종로구', '가회동', 369.0),
 ('성동구', '성수동1가', 370.0),
 ('중구', '을지로5가', 371.0),
 ('서대문구', '대현동', 372.0),
 ('종로구', '신문로2가', 373.0),
 ('종로구', '원남동', 374.0),
 ('종로구', '효제동', 375.0),
 ('성북구', '동소문동5가', 376.0),
 ('중구', '묵정동', 377.0),
 ('중구', '회현동2가', 378.0),
 ('중구', '입정동', 379.0),
 ('중구', '순화동', 380.0),
 ('중구', '충무로2가', 381.0),
 ('종로구', '팔판동', 382.0),
 ('중구', '북창동', 383.0),
 ('중구', '광희동1가', 384.0),
 ('종로구', '종로5가', 385.0),
 ('용산구', '한남동', 386.0),
 ('종로구', '운니동', 387.0),
 ('중구', '정동', 388.0),
 ('종로구', '관수동', 389.0),
 ('용산구', '용산동5가', 390.0)]

In [47]:
def insert_rank_rent(gu, dong, rank):
    # 구 ID 가져오기
    cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
    gu_id = cur.fetchone()[0]

    #동 ID 가져오기
    cur.execute('SELECT dong_id FROM dong WHERE dong_name = %s', (dong,))
    dong_id = cur.fetchone()[0]

    cur.execute(
            'INSERT INTO rank_for_dong (gu_id, dong_id, rank_rent) '
            'VALUES (%s, %s, %s)', 
            (gu_id, dong_id, rank))
    
    conn.commit()

In [48]:
for gu, dong, rank in rent_rank_list:
    insert_rank_rent(gu, dong, rank)