# 서울시에서 아이 키우기 가장 좋은 자치구

In [8]:
import mysql.connector
import pandas as pd

In [2]:
conn = mysql.connector.connect(
    host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'team2',
    password = "1234",
    database = 'eda_project' 
)

cur = conn.cursor(buffered=True)

### 구 정보 불러오기

In [ ]:
cur.execute('SELECT gu_name, gu_code FROM gu')
gu_info = cur.fetchall()

gu_name = []
gu_code = []

for info in enumerate(gu_info):
    gu_name.append(info[1][0])
    gu_code.append(info[1][1])

gu = pd.DataFrame({'구 이름':gu_name,
                     '구 코드':gu_code})
gu.head()

  구 이름   구 코드
0  종로구  11110
1   중구  11140
2  용산구  11170
3  성동구  11200
4  광진구  11215

### 학교, 학원, 독서실, 도서관 정보 불러오기

#### 학교 정보

In [ ]:
cur.execute('SELECT school_id,school_type, school_count FROM school')
school_info = cur.fetchall()

school_id = []
school_type = []
school_count = []

for info in enumerate(school_info):
    school_id.append(info[1][0])
    school_type.append(info[1][1])
    school_count.append(info[1][2])

school = pd.DataFrame({'학교 id':school_id,
                       '학교 유형':school_type,
                       '학교 수':school_count})
school.head()

#### 학원 정보

In [ ]:
cur.execute('SELECT academy_id,academy_type, academy_count FROM academy')
academy_info = cur.fetchall()

academy_id = []
academy_type = []
academy_count = []

for info in enumerate(academy_info):
    academy_id.append(info[1][0])
    academy_type.append(info[1][1])
    academy_count.append(info[1][2])

academy = pd.DataFrame({'학원 id':academy_id,
                       '학원 유형':academy_type,
                       '학원 수':academy_count})
academy.head()

In [ ]:
conn.commit()

In [ ]:
conn.close()